<div class="row g-0 justify-content-center">
    <div class="col-lg-9 col-md-10 col-sm-11 static-content">
        <div class="ps-3 pt-2 pe-3 pb-2">
            <h4>
                <fa-icon [icon]="faTrophy" class="pe-1"></fa-icon>
                Acknowledgments
            </h4>
            <p>
                The following individuals are major contributors to JUSTIFI's development.
            </p>
            <div class="d-flex flex-column">
                <div class="bold underline">
                    National Laboratory of the Rockies Contributors
                </div>
                <div>
                    Sarah Cooney
                </div>
                <div>
                    Julia Laser
                </div>
                <div>
                    Roy Li
                </div>
                <div>
                    Jordan Perr-Sauer
                </div>
                <div>
                    Dan Rowlands
                </div>
                <div>
                    Jibonananda Sanyal
                </div>
                <div>
                    Liz Wachs
                </div>
                <div class="bold underline pt-2">
                    Oak Ridge National Laboratory Contributors
                </div>
                <div>
                    Gina Accawi
                </div>
                <div>
                    Kristina Armstrong
                </div>
                <div>
                    Mark Root
                </div>
                <div>
                    Megha Jamloki
                </div>
                <div>
                    Hayden Esser
                </div>
                <div class="bold underline pt-2">
                    Department of Energy Sponsors
                </div>
                <div>
                    Robert Lung, Lindahl Reed, Inc
                </div>
                <div>
                    Nathan Roberts
                </div>
                <div>
                    John Slater, Boston Government Services, LLC
                </div>
                <div class="bold underline pt-2">
                    Advisory Board
                </div>
                <div>
                    Steve Black, University of Utah, Manufacturing Extension Partnership (MEP)
                </div>
                <div>
                    Kristen Cetin, Michigan State University, MSU Industrial Assessment Center
                </div>
                <div>
                    Tamara Cook, Leggett & Platt
                </div>
                <div>
                    Lawrence F. Fabina, Cleveland-Cliffs Steel LLC
                </div>
                <div>
                    Stacy Feeney, Noa Brands
                </div>
                <div>
                    John A. "Skip" Laitner, Economic and Human Dimensions Research Associates
                </div>
                <div>
                    Yong Kwon, Sierra Club
                </div>
                <div>
                    Aimee T. McKane, Manage Energy LLC
                </div>
                <div>
                    Kody Powell, University of Utah, Intermountain Industrial Assessment Center
                </div>
                <div>
                    Clemens Rohde, Fraunhofer Institute for Systems and Innovation Research ISI
                </div>
                <div>
                    Kevin Rucinski, University of Michigan, Economic Growth Institute
                </div>
                <div>
                    Adam Smith, Fisher Management Partners
                </div>
                <div>
                    Juliette Strasser, Skyven Technologies
                </div>
                <div>
                    Peter Ward, The Ohio State University, Center for Operational Excellence
                </div>
                <div class="bold underline pt-2">
                    Student Contributors
                </div>
                <div>
                    Ariana Carmody, Stanford University
                </div>
                <div>
                    Andreana Louise Roxas, Michigan State University
                </div>
                <div>
                    Pouya Sheikhhosseini, University of Utah
                </div>
            </div>
        </div>
    </div>
</div>