<div class="row g-0 justify-content-center">
    <div class="col-lg-9 col-md-10 col-sm-11 static-content">
        <div class="ps-3 pt-2 pe-3 pb-2">
            <h4>
                <fa-icon [icon]="faTrophy" class="pe-1"></fa-icon>
                Acknowledgments
            </h4>
            <p>
                The following individuals are major contributors to JUSTIFI's development.
            </p>
            <div class="d-flex flex-column">
                <div class="bold underline">
                    National Renewable Energy Laboratory Contributors
                </div>
                <div>
                    Sarah Cooney
                </div>
                <div>
                    Julia Laser
                </div>
                <div>
                    Roy Li
                </div>
                <div>
                    Jordan Perr-Sauer
                </div>
                <div>
                    Dan Rowlands
                </div>
                <div>
                    Jibonananda Sanyal
                </div>
                <div class="bold underline pt-2">
                    Oak Ridge National Laboratory Contributors
                </div>
                <div>
                    Gina Accawi
                </div>
                <div>
                    Kristina Armstrong
                </div>
                <div>
                    Mark Root
                </div>
                <div class="bold underline pt-2">
                    Department of Energy Sponsors
                </div>
                <div>
                    Robert Lung
                </div>
                <div>
                    Nathan Roberts
                </div>
                <div class="bold underline pt-2">
                    Student Internship Participants
                </div>
                <div>
                    Andreana Roxes
                </div>
                <!-- TODO: Add advisory board?
                <div class="bold underline pt-2">
                    Industry Advisory Board Participants
                </div> -->
            </div>
        </div>
    </div>
</div>