<div class="setup-wizard-content">
  <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
    <div class="col-11 col-md-10 pt-4 pb-4">
      @if (keyPerformanceIndicator) {
        <div class="form-paper shadow">
          <app-kpi-details-form></app-kpi-details-form>
        </div>
      }
    </div>
  </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
  <div class="container-fluid justify-content-between">
    <button class="btn nav-btn btn-sm" (click)="goBack()">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
      <span class="d-none d-md-inline">
        Go Back
      </span>
    </button>
    <button class="btn nav-btn btn-sm" (click)="goNext()">
      <span class="d-none d-md-inline">
        @if (indicatorIndex != (numFacilityKpis-1)) {
          Next KPI
        } @else {
          Industrial System Inventory
        }
      </span>
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
  </div>
</nav>