<div [ngClass]="{'window-overlay': showDisclaimer}"></div>
<div class="popup hide-print" [ngClass]="{'open': showDisclaimer}">
    <div class="popup-header">Welcome to JUSTIFI!
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="hideDisclaimer()"></button>
    </div>
    <div class="popup-body">
        <p class="mb-0">
            Thank you for taking the time to test an alpha version of the JUSTIFI application. There are few things that
            you
            should take into consideration as you work your way through the tool:
        </p>
        <ul>
            <li>
                The tool is a work in progress. You may encounter bugs along the way. Please use the feedback link to
                let the development team know what you have found. The more details that can be shared about the bug,
                the
                easier it will be for us to address them.
            </li>
            <li>
                We will do our best not to break the data that is entered as we make updates to the application but it
                is possible updates cause breaking changes to existing data. The "Reset Database" button will purge the
                data in your system and allow you to start fresh.
            </li>
        </ul>
    </div>
    <div class="pe-2 ps-1">
        <hr class="m-0">
    </div>
    <div class="p-2 d-flex justify-content-end">
        <button class="btn btn-secondary btn-sm me-2" (click)="disableDisclaimer()">Don't Show Me Again</button>
        <button class="btn btn-secondary btn-sm" (click)="hideDisclaimer()">Close Disclaimer</button>
    </div>
</div>