<div class="print-break-avoid">
  <h5 class="bold w-100 text-center">
    <fa-icon [icon]="faChartBar" class="me-2"></fa-icon> Key Performance Indicators
  </h5>
  <div class="w-100 overflow-scroll-x">
    <table class="table table-bordered savings-table table-hover table-sm">
      <thead>
        <tr>
          <th>
            <!-- KPM -->
          </th>
          <th>
            Units
          </th>
          <th>
            Cost<br> Per Unit
          </th>
          <th>
            Baseline<br> Amount
          </th>
          <th>
            Baseline Cost<br> ({{currencyCode | currencySymbol}}/yr)
          </th>
        </tr>
      </thead>
      <tbody>
        @for (kpi of keyPerformanceIndicators; track kpi) {
          <tr>
            <th colspan="5">
              <span [innerHTML]="kpi.htmlLabel"></span>
            </th>
          </tr>
          @for (keyPerformanceMetric of kpi.performanceMetrics; track keyPerformanceMetric) {
            <tr>
              <td class="ps-3">
                <span [innerHTML]="keyPerformanceMetric.htmlLabel"></span>
              </td>
              @if (keyPerformanceMetric.isQuantitative) {
                <td>
                  @if (keyPerformanceMetric.calculationMethod == 'costPerUnit') {
                    <app-single-cell-item [strValue]="keyPerformanceMetric.totalUnit"
                    [isCurrency]="false"></app-single-cell-item>
                  } @else {
                    &mdash;
                  }
                </td>
                <td>
                  @if (keyPerformanceMetric.calculationMethod == 'costPerUnit') {
                    <app-single-cell-item [numValue]="keyPerformanceMetric.costPerValue"
                    [isCurrency]="true"></app-single-cell-item>
                  } @else {
                    &mdash;
                  }
                </td>
                <td>
                  @if (keyPerformanceMetric.calculationMethod == 'costPerUnit') {
                    <app-single-cell-item [numValue]="keyPerformanceMetric.baselineValue"
                    [isCurrency]="false"></app-single-cell-item>
                  } @else {
                    &mdash;
                  }
                </td>
                <td>
                  <app-single-cell-item [numValue]="keyPerformanceMetric.baselineCost"
                  [isCurrency]="true"></app-single-cell-item>
                </td>
              } @else {
                <td colspan="4">
                  Qualitative Metric
                </td>
              }
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>