<div class="d-flex">
    <div class="d-flex nav-flex pe-3">
        <nav class="nav navbar nav-tabs flex-column">

            <div class="nav-item mb-2">
                <a class="nav-link" [ngClass]="{'active': !selectedKpi}" (click)="setSelectedKpi(undefined)">
                    Select Performance Indicators
                </a>
            </div>
            <div class="nav-item" *ngFor="let kpi of keyPerformanceIndicators">
                <a class="nav-link" [ngClass]="{'active': kpi.guid == selectedKpi?.guid}" (click)="setSelectedKpi(kpi)">
                    <span [innerHTML]="kpi.htmlLabel"></span>
                </a>
            </div>
        </nav>
    </div>
    <div class="card portfolio w-100">
        <div class="card-body">
            <ng-template [ngIf]="selectedKpi" [ngIfElse]="selectKpisBlock">
                <div class="card-title secondary d-flex justify-content-between">
                    <div>
                        <fa-icon [icon]="faBullseye" class="pe-2"></fa-icon>
                        <span [innerHTML]="selectedKpi.htmlLabel"></span>
                    </div>
                </div>
                <app-company-kpi-details-form [keyPerformanceIndicator]="selectedKpi"></app-company-kpi-details-form>
            </ng-template>
            <ng-template #selectKpisBlock>
                Heyooo..
            </ng-template>
        </div>
    </div>
</div>