.navbar {
    background-color: #ffffff;
    overflow-y: auto;
    flex-wrap: nowrap;
}

.navbar.collapsed {
    width: auto;
}

a.nav-link, .btn.btn-dark, .link-section-heading{
    display: inline-block;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


.sidebar-container {
    container-type: inline-size;
}

.sidebar-content {
    display: block;
}

@container (max-width: 45px) {
    .sidebar-content {
        display: none;
    }
}

.nav-item .d-inline-block{
    line-height: normal;
}


/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
    .nav-item {
        font-size: small;
    }
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
    .nav-item {
        font-size: medium;
    }
} */
/* Large devices (tablets, 992px and up) */
/* @media (min-width: 992px) {
    .nav-item {
        font-size: large;
    }
} */


.nav-link {
    padding-left: .5rem;
}

.nav-link.secondary-nav {
    padding-left: 1.5rem;
}

.nav-link.third-nav {
    padding-left: 2rem;
}

.nav-link.active {
    background-color: var(--portfolio-nav-color);
    color: white;
}

.nav-link:hover {
    background-color: #8DABBE;
    color: black;
}

.text-end {
    text-align: right;
}

.toggle-collapse {
    font-size: x-large;
}

.toggle-collapse:hover {
    cursor: pointer;
    border: so;
}

.btn.text-left {
    text-align: left;
}

.nav-link:hover {
    cursor: pointer;
}

/*NEW*/
.sidebar-section {
    border-left: groove 1px black;
    padding-left: .25rem;
    margin-left: .5rem;
    margin-bottom: .25rem;
}

hr.spacer{
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    border: dashed 1px black;
}

.sidebar-section.first-section{
    margin-right: .5rem;
}

.nav-link.section-active{
    background-color: #8DABBE;
}