<div class="h-100 navbar d-flex flex-column align-items-start justify-content-start shadow sidebar-container"
    [ngClass]="{'collapsed': !sidebarOpen}">

    <div class="ps-1 pe-1 w-100 pb-2">
        <div class="text-end toggle-collapse">
            <a class="click-link" (click)="toggleSidebar()">
                <fa-icon *ngIf="!sidebarOpen" [icon]="faChevronCircleRight"></fa-icon>
                <fa-icon *ngIf="sidebarOpen" [icon]="faChevronCircleLeft"></fa-icon>
            </a>
        </div>
    </div>
    <ng-container *ngIf="onSiteVisit">

        <div class="nav-item">
            <a class="nav-link" (click)="toggleCollapsePrevisit()">
                <fa-icon [icon]="collapsePreVisit ? faChevronRight : faChevronDown"></fa-icon>
                Pre-Visit
            </a>
        </div>
        <div class="sidebar-section" *ngIf="!collapsePreVisit">
            <div class="nav-item">
                <a class="nav-link" (click)="toggleCollapseCompany()">
                    <fa-icon [icon]="company.sidebarOpen ? faChevronDown : faChevronRight"></fa-icon>
                    Company Setup
                </a>
            </div>
            <div class="sidebar-section" *ngIf="company.sidebarOpen">
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/company-setup'"
                        [routerLinkActive]="['active']">
                        <fa-icon [icon]="faGear"></fa-icon>
                        General Details
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" (click)="toggleContactsOpen()">
                        <fa-icon [icon]="company.sidebarContactsOpen ? faChevronDown : faChevronRight"></fa-icon>
                        Stakeholder Contacts
                    </a>
                </div>
                <div class="sidebar-section" *ngIf="company.sidebarContactsOpen">
                    <div class="nav-item">
                        <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/company-contacts'"
                            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <fa-icon [icon]="faAddressBook"></fa-icon>
                            View All Contacts
                        </a>
                    </div>
                    <div class="nav-item" *ngFor="let contact of company.guid | associatedContacts:'company':contacts">
                        <a class="nav-link"
                            [routerLink]="'pre-visit/'+onSiteVisit.guid+'/company-contacts/'+contact.guid"
                            [routerLinkActive]="['active']">
                            <fa-icon [icon]="faUser"></fa-icon>
                            {{contact | contactNameDisplay}}
                        </a>
                    </div>

                </div>
            </div>
            <div class="nav-item">
                <a class="nav-link" (click)="toggleCollapseFacility()">
                    <fa-icon [icon]="facility.sidebarOpen ? faChevronDown : faChevronRight"></fa-icon>
                    Facility Setup
                </a>
            </div>
            <div class="sidebar-section" *ngIf="facility.sidebarOpen">
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/facility-setup'"
                        [routerLinkActive]="['active']">
                        <fa-icon [icon]="faGear"></fa-icon>
                        General Details
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" (click)="toggleKPIsOpen()">
                        <fa-icon [icon]="facility.sidebarKPIsOpen ? faChevronDown : faChevronRight"></fa-icon>
                        Key Performance Indicators
                    </a>
                </div>
                <div class="sidebar-section" *ngIf="facility.sidebarKPIsOpen">
                    <div class="nav-item">
                        <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/kpi-select'"
                            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <fa-icon [icon]="faMagnifyingGlassPlus"></fa-icon>
                            Select KPIs
                        </a>
                    </div>
                    <div class="nav-item"
                        *ngFor="let kpi of (facility.guid | facilityKpiList: keyPerformanceIndicators)">
                        <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/kpi-detail/' + kpi.guid"
                            [routerLinkActive]="['active']">
                            <fa-icon [icon]="faBullseye" class="pe-1"></fa-icon>
                            <span [innerHTML]="kpi.htmlLabel"></span>
                        </a>
                    </div>
                </div>
                <div class="nav-item">
                    <a class="nav-link" (click)="toggleSystemInventoryOpen()">
                        <fa-icon
                            [icon]="facility.sidebarSystemInventoryOpen ? faChevronDown : faChevronRight"></fa-icon>
                        Industrial System Inventory
                    </a>
                </div>
                <div class="sidebar-section" *ngIf="facility.sidebarSystemInventoryOpen">
                    <div class="nav-item">
                        <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/energy-equipment'"
                            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <fa-icon [icon]="faList"></fa-icon>
                            View Inventory
                        </a>
                    </div>
                    <div class="nav-item"
                        *ngFor="let energyEquipment of (facility.guid | energyEquipmentList:'facility':energyEquipments)">
                        <a class="nav-link"
                            [routerLink]="'pre-visit/'+onSiteVisit.guid+'/energy-equipment/' + energyEquipment.guid"
                            [routerLinkActive]="['active']">
                            <fa-icon [icon]="faBox" class="pe-1"></fa-icon>
                            {{energyEquipment.equipmentName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>








    <!-- <ng-container *ngIf="onSiteVisit">
        <div class="ps-1 pe-1 w-100 sidebar-content" [hidden]="!sidebarOpen">
            <button class="btn btn-dark w-100 text-left" (click)="toggleCollapsePrevisit()">
                <fa-icon [icon]="faChevronDown" class="pe-1" *ngIf="collapsePreVisit"></fa-icon>
                <fa-icon [icon]="faChevronUp" class="pe-1" *ngIf="!collapsePreVisit"></fa-icon>
                Pre-Visit
            </button>
            <div [ngClass]="{'collapse': collapsePreVisit}">
                <div class="nav-item ps-2 link-section-heading">
                    Company Setup
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/company-setup'"
                        [routerLinkActive]="['active']">
                        General Details
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/company-contacts'"
                        [routerLinkActive]="['active']">
                        Stakeholder Contacts
                    </a>
                </div>
                <div class="nav-item ps-2 link-section-heading">
                    Facility Setup
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/facility-setup'"
                        [routerLinkActive]="['active']">
                        General Details
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/kpi-select'"
                        [routerLinkActive]="['active']">
                        Select KPIs
                    </a>
                </div>

                <div class="nav-item" *ngFor="let kpi of (facility.guid | facilityKpiList: keyPerformanceIndicators)">
                    <a class="nav-link third-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/kpi-detail/' + kpi.guid"
                        [routerLinkActive]="['active']">
                        <span [innerHTML]="kpi.htmlLabel"></span>
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/energy-equipment'"
                        [routerLinkActive]="['active']">
                        Industrial System Inventory
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/end-uses'"
                        [routerLinkActive]="['active']">
                        End Use Inventory
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/pre-assessment'"
                        [routerLinkActive]="['active']">
                        Pre-Assessments
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/review-pre-visit'"
                        routerLink="review-pre-visit" [routerLinkActive]="['active']">
                        Review Pre-Visit
                    </a>
                </div>
            </div>
        </div>
        <div class="p-2 w-100 sidebar-content">
            <hr class="my-1">
        </div>

        <div class="ps-1 pe-1 w-100 sidebar-content" [hidden]="!sidebarOpen">
            <button class="btn btn-dark w-100 text-left" (click)="toggleCollapseDataCollection()">
                <fa-icon [icon]="faChevronDown" class="pe-1" *ngIf="collapseDataCollection"></fa-icon>
                <fa-icon [icon]="faChevronUp" class="pe-1" *ngIf="!collapseDataCollection"></fa-icon>
                Data Collection
            </button>
            <div [ngClass]="{'collapse': collapseDataCollection}">
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'data-collection/'+onSiteVisit.guid+'/manage-assessments/'"
                        [routerLinkActive]="['active']">
                        Manage Assessments
                    </a>
                </div>
                <ng-container *ngFor="let assessmentGuid of onSiteVisit.assessmentIds">
                    <div class="nav-item">
                        <a class="nav-link"
                            [routerLink]="'data-collection/'+onSiteVisit.guid+'/assessment/'+assessmentGuid"
                            [routerLinkActive]="['active']">
                            {{assessmentGuid | assessmentNameDisplay: assessments}}
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link secondary-nav"
                            [routerLink]="'data-collection/'+onSiteVisit.guid+'/assessment/'+assessmentGuid+'/details'"
                            [routerLinkActive]="['active']">
                            Details
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link secondary-nav"
                            [routerLink]="'data-collection/'+onSiteVisit.guid+'/assessment/'+assessmentGuid+'/energy-opportunities'"
                            [routerLinkActive]="['active']">
                            Energy Efficiency Opportunities
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link secondary-nav"
                            [routerLink]="'data-collection/'+onSiteVisit.guid+'/assessment/'+assessmentGuid+'/nebs'"
                            [routerLinkActive]="['active']">
                            NEBs
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link secondary-nav"
                            [routerLink]="'data-collection/'+onSiteVisit.guid+'/assessment/'+assessmentGuid+'/results'"
                            [routerLinkActive]="['active']">
                            Results
                        </a>
                    </div>
                </ng-container>
                <!--TODO: Issue #226--
                <!-- <div class="nav-item">
                    <a class="nav-link" [routerLink]="'data-collection/'+onSiteVisit.guid+'/review-data-collection'"
                        [routerLinkActive]="['active']">
                        Preliminary Results
                    </a>
                </div> --
            </div>
            <div class="p-2 w-100">
                <hr class="my-1">
            </div>
        </div>
        <div class="ps-1 pe-1 w-100 sidebar-content" [hidden]="!sidebarOpen">
            <button class="btn btn-dark w-100 text-left" (click)="toggleCollapseDataEvaluation()">
                <fa-icon [icon]="faChevronDown" class="pe-1" *ngIf="collapseDataEvaluation"></fa-icon>
                <fa-icon [icon]="faChevronUp" class="pe-1" *ngIf="!collapseDataEvaluation"></fa-icon>
                Data Evaluation
            </button>
            <div [ngClass]="{'collapse': collapseDataEvaluation}">
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'data-evaluation/'+onSiteVisit.guid+'/follow-up'"
                        [routerLinkActive]="['active']">
                        Follow-up
                    </a>
                </div>
                <ng-container *ngFor="let assessmentGuid of onSiteVisit.assessmentIds">
                    <div class="nav-item">
                        <a class="nav-link"
                            [routerLink]="'data-evaluation/'+onSiteVisit.guid+'/assessment-report/'+assessmentGuid"
                            [routerLinkActive]="['active']">
                            {{assessmentGuid | assessmentNameDisplay: assessments}} Report
                        </a>
                    </div>
                </ng-container>
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'data-evaluation/'+onSiteVisit.guid+'/visit-report'"
                        [routerLinkActive]="['active']">
                        Rollup Report
                    </a>
                </div>
            </div>
            <div class="p-2 w-100">
                <hr class="my-1">
            </div>
        </div>
    </ng-container>
    <div class="ps-1 pe-1 w-100 sidebar-content" [hidden]="!sidebarOpen">
        <div class="nav-item">
            <a class="nav-link bold" (click)="openStartOverModal()">
                <fa-icon [icon]="faFolderOpen"></fa-icon>
                Return to Portfolio</a>
        </div>
    </div> -->
</div>

<div [ngClass]="{'window-overlay': displayStartOverModal}"></div>
<div class="popup" [ngClass]="{'open': displayStartOverModal }">
    <div class="popup-header">Go to Portfolio
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeStartOverModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info p-1">
            Are you sure you would like to leave the wizard?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary btn-sm me-2" (click)="closeStartOverModal()">Cancel</button>
        <button class="btn btn-success btn-sm" (click)="confirmStartOver()"><fa-icon [icon]="faFolderOpen"></fa-icon>
            Return to Portfolio</button>
    </div>
</div>