<div class="d-flex w-100 justify-content-end">
  <div>
    <button class="btn btn-outline-success btn-sm" (click)="addContact()">
      <fa-icon [icon]="faPlus"></fa-icon>
      Add New Stakeholder
    </button>
  </div>
</div>
<hr class="my-2">

@if (companyContacts.length > 0) {
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th class="w-25">
          Name
        </th>
        <th class="w-25">
          Title
        </th>
        <th class="w-25">
          Team
        </th>
        <th class="w-25">
          Notes
        </th>
      </tr>
    </thead>
    <tbody>
      @for (contact of companyContacts; track contact) {
        <tr>
          <td>
            <a class="click-link"
              [routerLink]="'/portfolio/company/'+company.guid + '/stakeholders/'+contact.guid">
              {{contact | contactNameDisplay}}
            </a>
          </td>
          <td>
            <app-single-cell-item [strValue]="contact.role"></app-single-cell-item>
          </td>
          <td>
            <app-single-cell-item [strValue]="contact.team"></app-single-cell-item>
          </td>
          <td>
            <app-single-cell-item [strValue]="contact.notes"></app-single-cell-item>
          </td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <div class="alert alert-info p-2 text-center">
    No stakeholders found for this company. Use the "<fa-icon [icon]="faPlus"></fa-icon>
    Add New Stakeholder" button to add a stakeholder to this company.
  </div>
}

