<ul class="tree-list" *ngIf="nodes">
    <li *ngFor="let node of nodes">
        <span *ngIf="node.children && node.children.length > 0" (click)="toggleNode(node)" class="tree-toggle">
            <span>{{ node.expanded ? "-" : "+"}}</span>
        </span>
        <input class="form-check-input" type="checkbox" [checked]="node.checked"
            [indeterminate]="node.indeterminate"
            [(ngModel)]="node.checked"
            (change)="onCheckboxChange(node)" />
        <span>{{ node.name }}</span>
        <app-export-backup-tree *ngIf="node.expanded && node.children && node.children.length > 0"
            [nodes]="node.children"
            [level]="level + 1">
        </app-export-backup-tree>
    </li>
  </ul>