@if (nodes) {
  <ul class="tree-list">
    @for (node of nodes; track node) {
      <li>
        <div class="form-check">
          @if (node.children && node.children.length > 0) {
            <span (click)="toggleNode(node)" class="tree-toggle">
              <fa-icon [icon]="node.expanded ? faAngleDown : faAngleRight"></fa-icon>
            </span>
          }
          <input class="form-check-input" type="checkbox" [id]="'export_node' + node.item.guid"
            [checked]="node.checked"
            [indeterminate]="node.indeterminate"
            [(ngModel)]="node.checked"
            (change)="onCheckboxChange(node)" />
          <label class="form-check-label" [for]="'export_node_' + node.item.guid">
            @switch (node.type) {
              @case ('company') {
                <fa-icon [icon]="faBuilding" class="me-1"></fa-icon>
              }
              @case ('facility') {
                <fa-icon [icon]="faIndustry" class="me-1"></fa-icon>
              }
              @case ('visit') {
                <fa-icon [icon]="faCalendar" class="me-1"></fa-icon>
              }
              @case ('assessment') {
                <fa-icon [icon]="faScrewdriverWrench" class="me-1"></fa-icon>
              }
              @default {
                <fa-icon [icon]="faScrewdriverWrench" class="me-1"></fa-icon>
              }
            }
            {{ node.name }}
          </label>
        </div>
        @if (node.expanded && node.children && node.children.length > 0) {
          <div class="subtree-list">
            <app-export-backup-tree [nodes]="node.children"></app-export-backup-tree>
          </div>
        }
      </li>
    }
  </ul>
}