<!-- <div class="card portfolio">
    <div class="card-body">
         <app-assessment-energy-opportunities-form></app-assessment-energy-opportunities-form>
    </div>
</div> -->

<div class="d-flex">
    <div class="d-flex nav-flex pe-3">
        <nav class="nav navbar nav-tabs flex-column pt-0">

            <div class="nav-item mb-2">
                <a class="nav-link" [routerLink]="'/portfolio/assessment/'+assessment.guid + '/energy-opportunities'"
                    [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="d-block">
                            Summary
                        </div>
                        <div>
                            <fa-icon class="chevron float-right" [icon]="faChevronRight"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
            <div class="nav-item" *ngFor="let energyOpportunity of energyOpportunities">
                <a class="nav-link"
                    [routerLink]="'/portfolio/assessment/'+energyOpportunity.assessmentId + '/energy-opportunities/'+energyOpportunity.guid"
                    [routerLinkActive]="'active'">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="d-block">
                            {{energyOpportunity.name}}
                        </div>
                        <div>
                            <fa-icon class="chevron float-right" [icon]="faChevronRight"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
        </nav>
    </div>
    <div class="card portfolio w-100">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>