<div class="d-flex">
    <div class="d-none d-md-flex nav-flex pe-3" *ngIf="energyEquipments.length > 0">
        <nav class="nav navbar nav-tabs flex-column pt-0">
            <div class="nav-item">
                <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/system-inventory'"
                    [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="d-block">
                            Summary
                        </div>
                        <div>
                            <fa-icon class="chevron float-right" [icon]="faChevronRight"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-100">
                <hr class="my-2">
            </div>
            <div class="nav-item" *ngFor="let energyEquipment of energyEquipments">
                <a class="nav-link"
                    [routerLink]="'/portfolio/facility/'+energyEquipment.facilityId + '/system-inventory/'+energyEquipment.guid"
                    [routerLinkActive]="'active'">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="d-block">
                            {{energyEquipment.equipmentName}}
                        </div>
                        <div>
                            <fa-icon class="chevron float-right" [icon]="faChevronRight"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
        </nav>
    </div>
    <div class="card portfolio w-100">
        <div class="card-body">
            <a class="click-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/system-inventory'"
                [routerLinkActive]="'d-none'" [routerLinkActiveOptions]="{exact: true}">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
                All Equipment
            </a>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>