<div class="d-flex">
  @if (processEquipments.length > 0) {
    <div class="d-none d-md-flex nav-flex pe-3">
      <nav class="nav navbar nav-tabs flex-column pt-0">
        <div class="nav-item">
          <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/end-use-inventory'"
            [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
            <div class="d-flex w-100 justify-content-between">
              <div class="d-block">
                Summary
              </div>
              <div>
                <fa-icon class="chevron float-right" [icon]="faChevronRight"></fa-icon>
              </div>
            </div>
          </a>
        </div>
        <div class="w-100">
          <hr class="my-2">
        </div>
        @for (processEquipment of processEquipments; track processEquipment) {
          <div class="nav-item">
            <a class="nav-link"
              [routerLink]="'/portfolio/facility/'+processEquipment.facilityId + '/end-use-inventory/'+processEquipment.guid"
              [routerLinkActive]="'active'">
              <div class="d-flex w-100 justify-content-between">
                <div class="d-block">
                  {{processEquipment.equipmentName}}
                </div>
                <div>
                  <fa-icon class="chevron float-right" [icon]="faChevronRight"></fa-icon>
                </div>
              </div>
            </a>
          </div>
        }
      </nav>
    </div>
  }
  <div class="card portfolio w-100">
    <div class="card-body">
      <a class="click-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/end-use-inventory'"
        [routerLinkActive]="'d-none'" [routerLinkActiveOptions]="{exact: true}">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
        All End Uses
      </a>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>