<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faList"></fa-icon> Pre-Assessments
                </h5>
                <hr>
                <ng-container *ngIf="onSiteVisit">
                    <div class="d-flex w-100 justify-content-between pb-2">
                        <div class="p-0">
                            <div class="row">
                                <label class="col-sm-6 col-form-label bold" for="visitDate">Assessment Date</label>
                                <div class="col-sm-6">
                                    <input name="visitDate" id="visitDate" type="date" class="form-control"
                                        [(ngModel)]="onSiteVisit.visitDate" name="visitDate" (change)="setVisitDate()">
                                </div>
                            </div>
                        </div>
                        <div class="p-0">
                            <button class="btn btn-outline-dark btn-sm me-1" (click)="goToUploadTemplate()">
                                <fa-icon [icon]="faUpload"></fa-icon>
                                Upload Template
                            </button>
                            <button class="btn btn-outline-success btn-sm" (click)="addAssessment()">
                                <fa-icon [icon]="faPlus"></fa-icon>
                                Add Pre-Assessment
                            </button>
                        </div>
                    </div>
                    @let onSiteAssessments = (onSiteVisit.assessmentIds | assessmentListOnSite: assessments);
                    <ng-template [ngIf]="onSiteAssessments.length != 0" [ngIfElse]="noAssessmentsBlock">
                        <table class="table table-bordered table-hover table-sm">
                            <thead>
                                <tr>
                                    <th class="w-25">
                                        Name
                                    </th>
                                    <th class="w-50">
                                        Assessment Type
                                    </th>
                                    <th class="w-25">
                                        Stakeholders
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let assessment of onSiteAssessments">
                                    <td>
                                        <a class="click-link" (click)="goToAssessment(assessment)">
                                            {{assessment.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <app-single-cell-item
                                            [strValue]="assessment.assessmentType"></app-single-cell-item>
                                    </td>
                                    <td>
                                        @let associatedContacts = assessment.guid |
                                        associatedContacts:'assessment': contacts;
                                        <ng-template [ngIf]="associatedContacts.length > 0"
                                            [ngIfElse]="noContactsBlock">
                                            <span *ngFor="let contact of associatedContacts">
                                                {{contact | contactNameDisplay}} <br>
                                            </span>
                                        </ng-template>
                                        <ng-template #noContactsBlock>
                                            &mdash;
                                        </ng-template>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" (click)="openDeleteModal(assessment)">
                                            <fa-icon [icon]="faTrash"></fa-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                    <ng-template #noAssessmentsBlock>
                        <div class="alert alert-info text-center">
                            No Pre-Assessments added. Click "Add Pre-Assessment" to prepare a pre-assessment.
                        </div>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn nav-btn btn-sm" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn nav-btn btn-sm" (click)="goToNext()">
            <ng-template [ngIf]="onSiteVisit.assessmentIds.length != 0" [ngIfElse]="reviewVisitBlock">
                Pre-Assessment Details
            </ng-template>
            <ng-template #reviewVisitBlock>
                Review Pre-Visit
            </ng-template>
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>

<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Delete Assessment
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-danger p-2">
            Are you sure you want to delete this assessment? This cannot be undone.
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2 btn-sm" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger btn-sm" (click)="deleteAssessment()"><fa-icon [icon]="faTrash"></fa-icon> Delete
            Assessment</button>
    </div>
</div>