<form *ngIf="assessment">
    <div class="row">
        <label class="col-sm-5 col-form-label" for="assessmentName">Assessment Name <span
                class="required-asterisk">*</span></label>
        <div class="col-sm-7">
            <input name="assessmentName" type="text" class="form-control" [(ngModel)]="assessment.name"
                (input)="saveChanges()" minlength="1" maxlength="42" id="assessmentName" [disabled]="isDisabled"
                required>
            <div class="alert alert-danger p-1" *ngIf="!assessment.name">
                Assessment name required.
            </div>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-5 col-form-label" for="assessmentType">Assessment Type</label>
        <div class="col-sm-7">
            <select name="assessmentType" class="form-select" id="assessmentType"
                [(ngModel)]="assessment.assessmentType" (change)="assessmentTypeChange()" [disabled]="isDisabled">
                <option *ngFor="let assessmentType of assessmentTypes" [ngValue]="assessmentType">
                    {{assessmentType}}
                </option>
            </select>
        </div>
    </div>

    <hr>
    <h6>Utility Types</h6>
    <p class="fw-light">Select the utility types that are
        applicable to this assessment and enter the annual energy
        use for each type.</p>
    <div class="row">
        <div class="col-4">
            Include
        </div>
        <div class="col-4">
            Utility Use
        </div>
        <div class="col-4">
            Utility Savings
        </div>
    </div>
    <ng-container *ngFor="let use of assessment.utilityEnergyUses">
        <div class="row mb-1 utility-row" *ngIf="assessment.utilityTypes.includes(use.utilityType)">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-text">
                        <input class="form-check-input" type="checkbox"
                            name="{{'include_utilityType_' + use.utilityType + assessment.guid}}"
                            id="{{'include_utilityType_' + use.utilityType + assessment.guid}}"
                            [(ngModel)]="use.include" (input)="calculateUtilityUseCostSavings()" [disabled]="isDisabled">
                    </div>
                    <input type="text" class="form-control disabled-input-label" [value]="use.utilityType"
                        [disabled]="true">
                </div>
            </div>
            <ng-container *ngIf="use.include">
                <div class="col-4">
                    <div class="form-group row align-items-center">
                        <div class="input-group">
                            <input type="number" class="form-control"
                                name="{{'energyUse_' + use.utilityType + assessment.guid}}"
                                id="{{'energyUse_' + use.utilityType + assessment.guid}}" [(ngModel)]="use.energyUse"
                                (input)="calculateUtilityUseCostSavings()" [disabled]="isDisabled">
                            <select class="input-group-text"
                                name="{{'energyUnit_' + use.utilityType + assessment.guid}}"
                                id="{{'energyUnit_' + use.utilityType + assessment.guid}}" [(ngModel)]="use.energyUnit"
                                (change)="calculateUtilityUseCostSavings()" [disabled]="isDisabled">
                                <option *ngFor="let unitOption of (use.utilityType | linkedUnitOptions: 'Energy')"
                                    [ngValue]="unitOption.value">
                                    <span [innerHTML]="unitOption.value | unitsDisplay"></span>
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row align-items-center">
                        <div class="input-group">
                            <input type="number" class="form-control"
                                name="{{'utilitySaving_' + use.utilityType + assessment.guid}}"
                                id="{{'utilitySaving_' + use.utilityType + assessment.guid}}" [(ngModel)]="use.utilitySaving"
                                (input)="calculateUtilityUseCostSavings()" [disabled]="isDisabled">
                            <span class="input-group-text"
                                [innerHTML]="use.energyUnit | unitsDisplay">
                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="use.include
                &&  use.utilityType !== 'Water' && use.utilityType !== 'Waste Water'
                && !(use.utilityType | isStandardUnit :use.energyUnit : 'Energy')">
                <div class="col-4">
                    <div class="input-group">
                        <input type="text" class="form-control disabled-input-label-secondary"
                            value="{{use.utilityType | utilityHhvDisplay}}" [disabled]="true">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" type="number" step="any" min="0"
                            name="{{'energyHHV_' + use.utilityType + assessment.guid}}"
                            id="{{'energyHHV_' + use.utilityType + assessment.guid}}" [(ngModel)]="use.energyHHV"
                            (input)="calculateUtilityUseCostSavings()" [disabled]="isDisabled">
                        <select class="input-group-text"
                            name="{{'energyUnitStandard_' + use.utilityType + assessment.guid}}"
                            id="{{'energyUnitStandard_' + use.utilityType + assessment.guid}}"
                            [(ngModel)]="use.energyUnitStandard" (change)="calculateUtilityUseCostSavings()"
                            [disabled]="isDisabled">
                            <option *ngFor="let energyUnitOption of energyUnitOptions"
                                [ngValue]="energyUnitOption.value">
                                <span [innerHTML]="energyUnitOption.value | unitsDisplay">
                                </span>/<span [innerHTML]="use.energyUnit| unitsDisplay">
                                </span>
                            </option>
                        </select>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="use.include && !isUtilityTracked(use.utilityType)">
                <div class="col-12">
                    <div class="alert alert-warning small m-0 ms-5 p-1">
                        This utility is not tracked under current facility.
                        To track this utility, please go to
                        <button class="btn btn-sm btn-outline-primary border-0 p-0 mb-1" (click)="goToFacilitySetup()">
                            <fa-icon [icon]="faIndustry"></fa-icon>
                            Facility Setup
                        </button>
                        Page.
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <hr>

    <h6>Annual Uses and Costs Summary</h6>
    <ng-container *ngIf="assessment.utilityEnergyUses| utilityTrackedAssessment: 'energy'">
        <div class="row">
            <label class="col-sm-4 col-form-label" for="energyUse">Annual Energy
                Use</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <div class="col-sm-7" id="{{'energyUse_'+assessment.guid}}">
                        {{assessment.energyUse | number:'1.0-2'}}&nbsp;
                        <span [innerHTML]="companyEnergyUnit | unitsDisplay">
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-sm-4 col-form-label" for="{{'energycost_'+assessment.guid}}">Annual
                Energy
                Costs</label>
            <div class="col-sm-8" id="{{'energycost_'+assessment.guid}}">
                {{assessment.energyCost | currency:currencyCode:'symbol':'1.0-2'}}
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="assessment.utilityEnergyUses| utilityTrackedAssessment: 'water'">
        <div class="row">
            <label class="col-sm-4 col-form-label" for="{{'watercost_'+assessment.guid}}">Annual
                Water Related
                Costs</label>
            <div class="col-sm-7" id="{{'watercost_'+assessment.guid}}">
                {{assessment.waterCost | currency:currencyCode:'symbol':'1.0-2'}}
            </div>
        </div>
    </ng-container>

    <div class="row">
        <label class="col-sm-4 col-form-label" for="{{'cost_'+assessment.guid}}">Annual
            Utility
            Costs</label>
        <div class="col-sm-8" id="{{'cost_'+assessment.guid}}">
            {{assessment.cost | currency:currencyCode:'symbol':'1.0-2'}}
        </div>
    </div>
    <ng-container *ngIf="!inPreAssessment">
        <hr>
        <div class="row">
            <label class="col-sm-4 col-form-label" for="implementationCost">Implementation Cost</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input name="implementationCost" type="number" class="form-control"
                        [(ngModel)]="assessment.implementationCost" (input)="saveChanges()" id="implementationCost"
                        [disabled]="isDisabled">
                    <span class="input-group-text">{{ currencyCode | currencySymbol }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 col-form-label">Assessment
                Date</label>
            <div class="col-sm-8">
                {{assessment.visitDate | date}}
            </div>
        </div>
        <hr>
        <h6>Annual Cost Savings Summary</h6>
        <ng-container *ngIf="assessment.utilityEnergyUses| utilityTrackedAssessment: 'energy'">
            <div class="row">
                <label class="col-sm-4 col-form-label" for="energySavings">Annual Energy Savings</label>
                <div class="col-sm-4">
                    {{assessment.energySavings | number:'1.0-2'}}
                    <span [innerHTML]="numberOfTrackedEnergyUtilities === 1?
                        (trackedEnergyUnit | unitsDisplay) + '/yr': (companyEnergyUnit | unitsDisplay) + '/yr'"></span>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label" for="energyCostSavings">Annual Energy Cost Savings</label>
                <div class="col-sm-4" id="energyCostSavings">
                    {{assessment.energyCostSavings | currency: currencyCode:'symbol':'1.0-2'}}
                </div>
            </div>
        </ng-container>
        <div class="row" *ngIf="assessment.utilityEnergyUses| utilityTrackedAssessment: 'water'">
            <label class="col-sm-4 col-form-label" for="waterCostSavings">Annual Water Related Cost Savings</label>
            <div class="col-sm-4" id="waterCostSavings">
                {{assessment.waterCostSavings | currency: currencyCode:'symbol':'1.0-2'}}
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 col-form-label" for="costSavings">Annual Utility Cost Savings</label>
            <div class="col-sm-4" id="costSavings">
                {{assessment.costSavings | currency: currencyCode:'symbol':'1.0-2'}}
            </div>
        </div>
    </ng-container>
</form>
<hr class="my-1">
<div class="row">
    <div class="col-12">
        <app-associated-contacts-buttons [companyGuid]="assessment.companyId" [contactContext]="'assessment'"
            [contextGuid]="assessment.guid"></app-associated-contacts-buttons>
    </div>
</div>
<hr class="my-1">
<div class="row">
    <div class="col-12">
        <app-associated-energy-equipment-buttons [itemGuid]="assessment.guid"
            [itemContext]="'assessment'"></app-associated-energy-equipment-buttons>
    </div>
</div>
<hr class="my-1">
<div class="row">
    <div class="col-12">
        <app-associated-process-equipment-buttons [itemGuid]="assessment.guid"
            [itemContext]="'assessment'"></app-associated-process-equipment-buttons>
    </div>
</div>
<hr class="my-1">