<div class="toast-container position-fixed bottom-0 end-0 p-3 hide-print">
    <div #toastItem role="alert" aria-live="assertive" aria-atomic="true" class="toast"
        [attr.data-bs-autohide]="true">
        <ng-template [ngIf]="updateAvailable">
            <div class="toast-header">
                <strong class="me-auto">Update Available!</strong>
                <button type="button" class="btn-close" (click)="closeToast()" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                A new version of the application is available. Click below or refresh the page to update.
            </div>
            <div class="toast-footer ps-2 pe-2 pb-2">
                <button class="btn btn-sm btn-success" (click)="reloadPage()">Update Application</button>
            </div>
        </ng-template>
    </div>
</div>