<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/company/'+company.guid" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon [icon]="faBuilding"></fa-icon>
            <span class="d-none d-md-inline">
                Company Dashboard
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/company/'+company.guid + '/manage'" [routerLinkActive]="'active'">
            <fa-icon [icon]="faGears"></fa-icon>
            <span class="d-none d-md-inline">
                Details
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/company/'+company.guid + '/stakeholders'"
            [routerLinkActive]="'active'">
            <fa-icon [icon]="faAddressBook"></fa-icon>
            <span class="d-none d-md-inline">
                Stakeholders
            </span>
        </a>
    </li>
</ul>