<div [ngClass]="{'window-overlay': displayModal}"></div>
<div class="popup" [ngClass]="{'open': displayModal }">
  <div class="popup-header"><fa-icon [icon]="faLink"></fa-icon> Select Linked Stakeholders
  <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="popup-body">
  @if (!showAddContactForm) {
    @if (!selectedContact) {
      @if (contacts.length != 0) {
        <div class="list-group">
          @for (contact of contacts; track contact; let index = $index) {
            <div class="list-group-item list-group-item-action"
              (click)="toggleContactActive(index)">
              <div class="d-flex justify-content-between w-100">
                <div class="p-0">
                  @if ((contextGuid | includesContact:contactContext: contact)) {
                    <fa-icon class="success" [icon]="faCircleCheck"></fa-icon>
                  } @else {
                    <fa-icon [icon]="faCircle"></fa-icon>
                  }
                  {{contact | contactNameDisplay}}
                </div>
                <button class="btn btn-sm btn-primary btn-sm" (click)="viewContact(contact)">
                  View
                </button>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          No Stakeholders Found.
        </div>
      }
    } @else {
      <div class="mb-3">
        <a class="click-link" (click)="viewContact(undefined)">
          <fa-icon [icon]="faChevronLeft"></fa-icon> View All Stakeholders
        </a>
      </div>
      @if ((contextGuid | includesContact:contactContext: selectedContact)) {
        <fa-icon class="success me-1" [icon]="faCircleCheck"></fa-icon>
        <span class="linked-contact-label">Linked Stakeholder</span>
      }
      <div class="mt-2">
        <app-company-contacts-form [contactGuid]="selectedContact.guid" [isModal]="true"
        [isViewForm]="true"></app-company-contacts-form>
      </div>
    }
  } @else {
    <div class="mb-3">
      <a class="click-link" (click)="viewContact(undefined)">
        <fa-icon [icon]="faChevronLeft"></fa-icon> View All Stakeholders
      </a>
    </div>
    <div>
      <fa-icon class="success me-1" [icon]="faCircleCheck"></fa-icon>
      <span class="linked-contact-label">Linked Stakeholder</span>
    </div>
    <app-company-contacts-form (formChanged)="onContactFormChanged($event)" [contactGuid]="newContact.guid"
    [isModal]="true"></app-company-contacts-form>
    @if (showInvalidFormAlert) {
      <div class="alert alert-danger mt-2">
        Please fill the required fields before proceeding.
      </div>
    }
  }
  <hr class="my-1">
</div>
<div class="popup-footer d-flex justify-content-end">
  <button class="btn btn-secondary me-2 btn-sm" (click)="closeModal()">Cancel</button>
  @if (!showAddContactForm) {
    <button class="btn btn-outline-success me-2 btn-sm" (click)="addContact()">
      <fa-icon [icon]="faPlus"></fa-icon>
      Add Stakeholder
    </button>
  }
  <button class="btn btn-outline-contact btn-sm" (click)="saveChanges()"><fa-icon [icon]="faSave"></fa-icon> Set
  Linked
Stakeholders</button>
</div>
</div>