<form>
    <label class="bold" for="facilityName">Facility Name <span class="required-asterisk">*</span></label>
    <input name="facilityName" type="text" class="form-control" [formControl]="name" (input)="saveChanges()"
        id="facilityName">
    <div class="form-error alert alert-danger" *ngIf="name.touched && name.errors?.['required']">
        Facility name required.
    </div>
</form>
<hr>
<label class="bold">Location</label>
<app-location-form [inCompany]="false"></app-location-form>
<hr>
<label class="bold">Tracked Utilities</label>
<app-units-form></app-units-form>
<hr>
<label class="bold">Additional Details</label>
<app-additional-details-form [inCompany]="false"></app-additional-details-form>
<hr>
<label class="bold">Further Questions to Consider</label>
<p class="fw-light small">
    The questions in this section are
    to help you understand how the facility might react to the suggestion of large expenditures, how projects are
    approved and what might be needed to help encourage approval. Clicking in a text box will update the help panel with
    additional context relating to the corresponding question.
</p>
<app-shared-facility-protocol-questions></app-shared-facility-protocol-questions>