<!--describeWasteStreams-->
<label>
    Describe the waste streams that result from this system
</label>
<textarea id="describeWasteStreams" name="describeWasteStreams" class="form-control" [(ngModel)]="describeWasteStreams"
    (input)="saveChanges()" (focus)="focusField('describeWasteStreams')" rows="3"></textarea>
<hr class="my-1">

<!--describeWaterInputDischarge-->
<label>
    Describe water input or discharge streams that result from this system
</label>
<textarea id="describeWaterInputDischarge" name="describeWaterInputDischarge" class="form-control"
    [(ngModel)]="describeWaterInputDischarge" (input)="saveChanges()"
    (focus)="focusField('describeWaterInputDischarge')" rows="3"></textarea>
<hr class="my-1">

<!--describeRefrigerantProcessDustEmissions-->
<label>
    Describe any refrigerant, process, or dust emissions that may come from this system
</label>
<textarea id="describeRefrigerantProcessDustEmissions" name="describeRefrigerantProcessDustEmissions"
    class="form-control" [(ngModel)]="describeRefrigerantProcessDustEmissions" (input)="saveChanges()"
    (focus)="focusField('describeRefrigerantProcessDustEmissions')" rows="3"></textarea>
<hr class="my-1">

<!--describeRegulations-->
<label>
    Describe any environmental regulations or considerations impacting this system
</label>
<textarea id="describeRegulations" name="describeRegulations" class="form-control" [(ngModel)]="describeRegulations"
    (input)="saveChanges()" (focus)="focusField('describeRegulations')" rows="3"></textarea>