<div class="d-flex">
    <div class="d-flex nav-flex pe-3">
        <nav class="nav navbar nav-tabs flex-column pt-0">

            <div class="nav-item">
                <a class="nav-link" [routerLink]="'/portfolio/company/'+company.guid + '/stakeholders'"
                    [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="d-block">
                            {{company.generalInformation.name}} Stakeholders
                        </div>
                        <div class="ps-1">
                            <fa-icon class="chevron float-right" [icon]="faChevronRight"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-100">
                <hr class="my-2">
            </div>
            <div class="nav-item" *ngFor="let contact of companyContacts">
                <a class="nav-link" [routerLink]="'/portfolio/company/'+company.guid + '/stakeholders/'+contact.guid"
                    [routerLinkActive]="'active'">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="d-block">
                            {{contact | contactNameDisplay}}
                        </div>
                        <div class="ps-1">
                            <fa-icon class="chevron float-right" [icon]="faChevronRight"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
        </nav>
    </div>
    <div class="card portfolio w-100">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>