<div class="w-100 overflow-scroll-x">
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>
          Benefit
        </th>
        <th>
          Key Performance <br> Metric Impacts
        </th>
        @if (inDashboard) {
          <th>
            Stakeholders
          </th>
        }
        <th>Energy Efficiency <br> Measures</th>
        <th>
          Total Savings<br>
          <span class="fw-light">
            ({{ currencyCode | currencySymbol }}/yr)
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (nonEnergyBenefit of nonEnergyBenefits; track nonEnergyBenefit) {
        <tr>
          <td>
            <fa-icon [icon]="faWeightHanging"></fa-icon>
            <a class="click-link" (click)="goToNeb(nonEnergyBenefit)">
              {{nonEnergyBenefit.name}}
            </a>
          </td>
          <td>
            @let kpmImpacts = nonEnergyBenefit.guid | associatedPerformanceMetricImpacts:
            keyPerformanceMetricImpacts;
            @if (kpmImpacts.length > 0) {
              @for (kpmImpact of kpmImpacts; track kpmImpact) {
                <span>
                  <span [innerHTML]="kpmImpact.kpmGuid | kpmLabel: keyPerformanceMetrics: 'guid'"></span>
                  <br>
                  </span>
                }
              } @else {
                &mdash;
              }
            </td>
            @if (inDashboard) {
              <td>
                @let associatedContacts = nonEnergyBenefit.guid | associatedContacts:'nonEnergyBenefit':
                contacts;
                @if (associatedContacts.length > 0) {
                  @for (contact of associatedContacts; track contact) {
                    <span>
                      {{contact | contactNameDisplay}} <br>
                    </span>
                  }
                } @else {
                  &mdash;
                }
              </td>
            }
            <td>
              @if (nonEnergyBenefit.energyOpportunityId) {
                <a class="click-link" (click)="goToEnergyOpportunity(nonEnergyBenefit)">
                  {{nonEnergyBenefit.energyOpportunityId | energyOpportunityDisplay: energyOpportunities}}
                </a>
              } @else {
                &mdash;
              }
            </td>
            <td>
              <app-single-cell-item
                [numValue]="nonEnergyBenefit.guid | nebTotalSavings: keyPerformanceMetricImpacts"
              [isCurrency]="true"></app-single-cell-item>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>