
<p class="fw-light small" [innerHTML]="EnergyEquipmentEmployeeEngagementHelp.sectionHelp">
</p>
<hr class="my-2">
<!--describeSafetyConcerns-->
<label>
  Describe any safety concerns related to this system
</label>
@if (inPortfolio) {
  <p class="fw-light small" [innerHTML]="EnergyEquipmentEmployeeEngagementHelp.describeSafetyConcerns">
  </p>
}
<textarea id="describeSafetyConcerns" name="describeSafetyConcerns" class="form-control"
  [(ngModel)]="describeSafetyConcerns" (input)="saveChanges()" (focus)="focusField('describeSafetyConcerns')"
rows="3"></textarea>
<hr class="my-1">

<!--describeWorkplaceEnvironment-->
<label>
  Describe any other workplace environment details related to the system
</label>
@if (inPortfolio) {
  <p class="fw-light small" [innerHTML]="EnergyEquipmentEmployeeEngagementHelp.describeWorkplaceEnvironment">
  </p>
}
<textarea id="describeWorkplaceEnvironment" name="describeWorkplaceEnvironment" class="form-control"
  [(ngModel)]="describeWorkplaceEnvironment" (input)="saveChanges()"
(focus)="focusField('describeWorkplaceEnvironment')" rows="3"></textarea>