<div class="container-fluid dashboard">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <!-- JUSTIFI Portfolio -->

                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <fa-icon [icon]="faFolderOpen"></fa-icon>
                                <li class="breadcrumb-item" [ngClass]="{'active': context == 'home'}">
                                    <a [routerLink]="'/portfolio'">JUSTIFI Portfolio</a>
                                </li>
                                <ng-container *ngIf="company">
                                    <li class="breadcrumb-item" [ngClass]="{'active': context == 'company'}">
                                        <a [routerLink]="'/portfolio/company/'+company.guid">
                                            {{company.generalInformation.name}}
                                        </a>
                                    </li>
                                </ng-container>
                                <ng-container *ngIf="facility">
                                    <li class="breadcrumb-item" [ngClass]="{'active': context == 'facility'}">
                                        <a [routerLink]="'/portfolio/facility/'+facility.guid">
                                            {{facility.generalInformation.name}}
                                        </a>
                                    </li>
                                </ng-container>
                                <ng-container *ngIf="assessment">
                                    <li class="breadcrumb-item" [ngClass]="{'active': context == 'assessment'}">
                                        <a [routerLink]="'/portfolio/assessment/'+assessment.guid">
                                            {{assessment.name}}
                                        </a>
                                    </li>
                                </ng-container>
                            </ol>
                        </nav>


                    </div>
                    <p class="card-text fw-light">
                        View a summary of the data in your system.
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>