<div class="row g-0 justify-content-center">
    <div class="col-lg-9 col-md-10 col-sm-11 static-content">
        <div class="ps-3 pt-2 pe-3 pb-2">
            <h4>
                <fa-icon [icon]="faDatabase" class="pe-1"></fa-icon>
                NEBs Database
            </h4>
            <p class="fw-light">
                JUSTIFI comes pre-populated with a wide range of Key Performance Indicators (KPI), Key Performance
                Metrics (KPM) and Non-energy Benefits (NEBs). Through our research we have identified relationships
                between these three data items. This page provides a detailed looked at the relationships we have built
                into the tool.
            </p>
            <p class="fw-light">
                <a class="click-link" (click)="exportNebsToCsv()">Click here to
                    export</a> the data in the NEBs database and the relationships built into JUSTIFI as an excel
                document.
            </p>
            <hr>
            <app-nebs-database-table></app-nebs-database-table>
        </div>
    </div>
</div>