<div class="toast-container position-fixed top-0 end-0 p-3 hide-print">
  <div #updateToastElement role="alert" aria-live="assertive" aria-atomic="true" class="toast text-bg-dark"
    [attr.data-bs-autohide]="false">
    <div class="toast-header bg-dark text-bg-dark d-flex justify-content-between align-items-center">
      <div class="large">
        <fa-icon [icon]="faExclamationCircle" class="pe-1"></fa-icon>

        @if (!updateError) {
          A new version of JUSTIFI is available!
        }
        @if (updateError) {
          Ooops! Something went wrong!
        }
      </div>
      <div>
        <button type="button" class="btn-close btn-close-white" (click)="closeUpdateAvailable()" aria-label="Close"></button>
      </div>
    </div>
    @if (updateInfo?.releaseName) {
      <div class="toast-body bg-dark">
        @if (!updateError) {
          <p>{{updateInfo.releaseName}} is now available! Click the download button below to download the
          updated version of the application.</p>
        }
        @if (updateError) {
          <p>Something went wrong, please contact ORNL to inform them that there was an error downloading the
          update and they will fix the issue as quickly as possible.</p>
          <hr>
            <p>
              Use the <a class="router-link" routerLink="/feedback">Feedback</a> page in the side bar to find
              information on reporting bugs.
            </p>
          }
        </div>
      }
      @if (!updateError) {
        <div class="toast-footer ps-2 pe-2 pb-2 text-right">
          <button class="btn btn-sm btn-success" (click)="update()">
            <fa-icon [icon]="faDownload"></fa-icon>
            Download Update
          </button>
        </div>
      }
    </div>
  </div>