@let linkedContacts = (contextGuid | associatedContacts:contactContext: contacts);
<button class="btn btn-sm btn-filled-contact" (click)="openModal(undefined)">
  <fa-icon [icon]="faLink"></fa-icon>
  Stakeholders
</button>
@for (contact of linkedContacts; track contact) {
  <button class="btn btn-sm btn-outline-contact" (click)="openModal(contact)">
    <fa-icon [icon]="faUser"></fa-icon>
    {{contact | contactNameDisplay}}
  </button>
}

@if (showModal) {
  <app-associated-contacts-modal [companyGuid]="companyGuid" [contactContext]="contactContext"
    [contextGuid]="contextGuid" [selectedContact]="selectedContact"
  (emitCancelContact)="closeModal()"></app-associated-contacts-modal>
}