<!-- <p class="fw-light small mb-0" [innerHTML]="EnergyEquipmentOperationsHelp.sectionHelp">
                </p>
                <hr class="my-1"> -->
<!--describeOutputOfSystem-->
<label>
    Describe the output of the system and how it aligns with plant needs
</label>
<!-- <p class="fw-light small" [innerHTML]="EnergyEquipmentOperationsHelp.describeOutputOfSystem">
                </p>
                <p class="fw-light small" [innerHTML]="EnergyEquipmentOperationsHelp.describeOutputOfSystemQs">
                </p> -->
<!--TODO: Link KPIs-->
<!--
                    **Provide link to Quality and Production KPI
                -->
<textarea id="describeOutputOfSystem" name="describeOutputOfSystem" class="form-control"
    [(ngModel)]="describeOutputOfSystem" (input)="saveChanges()" (focus)="focusField('describeOutputOfSystem')"
    rows="3"></textarea>
<hr class="my-1">


<!--describeServicingNeeds-->
<label>
    Describe the maintenance and servicing needs of this system
</label>
<!-- <p class="fw-light small" [innerHTML]="EnergyEquipmentOperationsHelp.describeServicingNeeds">
                </p>
                <p class="fw-light small" [innerHTML]="EnergyEquipmentOperationsHelp.describeServicingNeedsQs">
                </p> -->
<!--TODO: link kpis-->
<!--
                    **Provide link to Maintainance KPI
                -->
<textarea id="describeServicingNeeds" name="describeServicingNeeds" class="form-control"
    [(ngModel)]="describeServicingNeeds" (input)="saveChanges()" (focus)="focusField('describeServicingNeeds')"
    rows="3"></textarea>
<hr class="my-1">

<!--describeLaborRequirements-->
<label>
    Describe the labor requirements of this system.
</label>
<!-- <p class="fw-light small" [innerHTML]="EnergyEquipmentOperationsHelp.describeLaborRequirements">
                </p>
                <p class="fw-light small" [innerHTML]="EnergyEquipmentOperationsHelp.describeLaborRequirementsQs">
                </p> -->
<!--TODO: Link kpis-->
<!--
                    **Provide link to Expense Cost KPI
                -->
<textarea id="describeLaborRequirements" name="describeLaborRequirements" class="form-control"
    [(ngModel)]="describeLaborRequirements" (input)="saveChanges()" (focus)="focusField('describeLaborRequirements')"
    rows="3"></textarea>
<hr class="my-1">

<!--describeSystemMaterials-->
<label>
    Describe the materials that are required by this system (raw materials, intermediate goods,
    treatment chemicals)?
</label>
<!-- <p class="fw-light small" [innerHTML]="EnergyEquipmentOperationsHelp.describeSystemMaterials">
                </p>
                <p class="fw-light small" [innerHTML]="EnergyEquipmentOperationsHelp.describeSystemMaterialsQs">
                </p> -->
<!--TODO: link kpis-->
<!--
                    **Provide link to Expense Cost and Material Utilization KPI
                -->
<textarea id="describeSystemMaterials" name="describeSystemMaterials" class="form-control"
    [(ngModel)]="describeSystemMaterials" (input)="saveChanges()" (focus)="focusField('describeSystemMaterials')"
    rows="3"></textarea>