<div class="card portfolio">
    <div class="card-body">
        <app-company-setup-form></app-company-setup-form>
    </div>
</div>


<div [ngClass]="{'window-overlay': routeGuardWarningModal ||  showDeleteCompanyModal || showCreateCopyModal}"></div>
<div class="popup" [ngClass]="{'open': routeGuardWarningModal }">
    <div class="popup-body">
        <div class="alert alert-danger">
            Please fill the required fields.
        </div>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeWarningModal()">OK</button>
    </div>
</div>


<div class="popup" [ngClass]="{'open': showDeleteCompanyModal }">
    <div class="popup-header">Delete {{company.generalInformation.name}}
        <button type="button" class="btn-close float-end" aria-label="Close"
            (click)="closeDeleteCompanyModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-danger p-2">
            Are you sure you would like to delete this company and it's corresponding data? This will delete all
            associated
            facilities and assessments. This cannot be undone.
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2 btn-sm" (click)="closeDeleteCompanyModal()">Cancel</button>
        <button class="btn btn-danger btn-sm" (click)="confirmDelete()">
            <fa-icon [icon]="faTrash"></fa-icon>
            Delete {{company.generalInformation.name}}
        </button>
    </div>
</div>

<div class="popup" [ngClass]="{'open': showCreateCopyModal }">
    <div class="popup-header">Create Copy of {{company.generalInformation.name}}
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeCreateCopyModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-warning p-2">
            This feature is coming soon!
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2 btn-sm" (click)="closeCreateCopyModal()">Cancel</button>
        <button class="btn btn-success btn-sm" (click)="confirmCreateCopy()" [disabled]="true">
            <fa-icon [icon]="faCopy"></fa-icon>
            Copy {{company.generalInformation.name}}
        </button>
    </div>
</div>