<a class="click-link" (click)="goBack()">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
    All Linked Items
</a>
<hr class="my-1">
<h5>
    <fa-icon [icon]="faCube"></fa-icon>
    {{energyEquipment.equipmentName}}
</h5>
<!-- <table class="table table-bordered table-sm mb-0">
    <tbody>
        <tr>
            <td class="w-50">
                Industrial System
            </td>
            <td>
                {{energyEquipment.equipmentType}}
            </td>
        </tr>
        <tr>
            <td>
                Utility Type
            </td>
            <td>
                {{energyEquipment.utilityType}}
            </td>
        </tr>
        <tr>
            <td>
                Annual Energy Use
            </td>
            <td>
                {{energyEquipment.annualEnergyUse | number:'1.0-2'}}
                {{company.companyEnergyUnit | unitsDisplay}}
                <div *ngIf="company.companyEnergyUnit !== energyEquipment.facilityUtilityUnit">
                    &nbsp;/&nbsp;{{energyEquipment.annualEnergyUseByUtility | number:'1.0-2'}}
                    {{energyEquipment.facilityUtilityUnit | unitsDisplay}}
                </div>
            </td>
        </tr>
    </tbody>
</table>
<hr class="my-1">
<app-associated-contacts-buttons [companyGuid]="company.guid" [contactContext]="'energyEquipment'"
    [contextGuid]="energyEquipment.guid"></app-associated-contacts-buttons>
<hr class="my-1">
<app-associated-process-equipment-buttons [itemContext]="'energyEquipment'"
    [itemGuid]="energyEquipment.guid"></app-associated-process-equipment-buttons>
<hr class="my-1">
<app-associated-energy-equipment-buttons [itemContext]="'energyEquipment'"
    [itemGuid]="energyEquipment.guid"></app-associated-energy-equipment-buttons>
<hr class="my-1"> -->
<app-discovery-energy-equipment-questions></app-discovery-energy-equipment-questions>