<div class="print-break-avoid">
    <h5 class="bold w-100 text-center">
        <fa-icon [icon]="faToolbox" class="me-2"></fa-icon> Pre-Assessments for {{onSiteVisit.visitDate| date}}
    </h5>

    @let preAssessments = (onSiteVisit.assessmentIds | assessmentListOnSite: assessments);
    <ng-template [ngIf]="preAssessments.length > 0" [ngIfElse]="noPreAssessmentsBlock">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Utility Types
                    </th>
                    <th>
                        Baseline<br>
                        Energy Use<br>
                        <span class="fw-light">({{companyEnergyUnit}}/yr)</span>
                    </th>
                    <th>
                        Baseline<br>
                        Energy Cost<br>
                        <span class="fw-light">
                            ({{ currencyCode | currencySymbol }}/yr)
                        </span>
                    </th>
                    <th>
                        Baseline<br>
                        Water Related Cost<br>
                        <span class="fw-light">
                            ({{ currencyCode | currencySymbol }}/yr)
                        </span>
                    </th>
                    <th>
                        Stakeholders
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assessment of preAssessments">
                    <td>
                        {{assessment.name}}
                    </td>
                    <td>
                        <app-single-cell-item [strValue]="assessment.assessmentType"></app-single-cell-item>
                    </td>
                    <td>
                        <ng-container *ngFor="let utilityType of assessment.utilityEnergyUses">
                            <ng-container *ngIf="utilityType.include">
                                {{utilityType.utilityType}}<br>
                            </ng-container>
                        </ng-container>
                    </td>
                    <td>
                        <app-single-cell-item [numValue]="assessment.energyUse"></app-single-cell-item>
                    </td>
                    <td>
                        <app-single-cell-item [numValue]="assessment.energyCost" [isCurrency]="true"></app-single-cell-item>
                    </td>
                    <td>
                        <app-single-cell-item [numValue]="assessment.waterCost" [isCurrency]="true"></app-single-cell-item>
                    </td>
                    <td>
                        @let associatedContacts = assessment.guid | associatedContacts:'assessment': contacts;
                        <ng-template [ngIf]="associatedContacts.length > 0" [ngIfElse]="noContactsBlock">
                            <span *ngFor="let contact of associatedContacts">
                                {{contact | contactNameDisplay}} <br>
                            </span>
                        </ng-template>
                        <ng-template #noContactsBlock>
                            &mdash;
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template #noPreAssessmentsBlock>
        <div class="alert alert-info small p-2">
            No pre-assessments added for this visit.
        </div>
    </ng-template>
</div>