@if (strValue || numValue) {
  @if (strValue) {
    {{strValue}}
    @if (units && !per) {
      <span [innerHTML]="units | unitsDisplay"></span>
    }
    @if (units && per) {
      <span [innerHTML]="units | unitsDisplay"></span>/<span [innerHTML]="per | unitsDisplay"></span>
    }
  } @else {
    @if (!isCurrency) {
      <span>
        {{ negativeNumber ?
        '(' + (numValue | displayRoundedValues : isCurrency | number:numValueDigits) + ')'
        : numValue | displayRoundedValues : isCurrency | number:numValueDigits }}
      </span>
    } @else {
      <span>
        {{ negativeNumber ?
        '(' + (numValue | displayRoundedValues : isCurrency | currency : currencyCode : 'symbol' : numValueDigits) + ')'
        : numValue | displayRoundedValues : isCurrency | currency : currencyCode : 'symbol' : numValueDigits }}
      </span>
    }
    @if (units && !per) {
      <span [innerHTML]="units | unitsDisplay"></span>
    }
    @if (units && per) {
      <span [innerHTML]="units | unitsDisplay"></span>/<span [innerHTML]="per | unitsDisplay"></span>
    }
    @if (isCurrency && per) {
      /<span [innerHTML]="per | unitsDisplay"></span>
    }
  }
} @else {
  &mdash;
}

