<table class="table table-bordered">
  <tbody>
    <tr>
      <th>
        Assessment Type
      </th>
      <td>
        {{assessment.assessmentType}}
      </td>
    </tr>
    <tr>
      <th>
        Visit Date
      </th>
      <td>
        {{assessment.visitDate | date}}
      </td>
    </tr>
    <tr>
      <th>
        Utility Usage
      </th>
      <td>
        @for (utilityType of assessment.utilityEnergyUses; track utilityType) {
          @if (utilityType.include) {
            {{utilityType.utilityType}}: {{utilityType.energyUse | number}} <span
          [innerHTML]="utilityType.energyUnit | unitsDisplay"></span><br>
        }
      }
    </td>
  </tr>
  <tr>
    <th>
      Annual Costs
    </th>
    <td>
      @if (assessment.cost) {
        {{assessment.cost | currency: currencyCode}}/yr
      } @else {
        &mdash;
      }
    </td>
  </tr>
  <tr>
    <th>
      Energy Efficiency Measures
    </th>
    <td>
      @if (energyOpportunities.length > 0) {
        @for (opportunity of energyOpportunities; track opportunity) {
          {{opportunity.name}}<br>
        }
      } @else {
        &mdash;
      }
    </td>
  </tr>
  <tr>
    <th>
      NEBs
    </th>
    <td>
      @let assessmentNebs = assessment.guid | nebList:'assessment': nonEnergyBenefits;
      @if (assessmentNebs.length > 0) {
        @for (neb of assessmentNebs; track neb) {
          <span>
            <fa-icon [icon]="faWeightHanging"></fa-icon>
            {{neb.name}} <br>
          </span>
        }
      }
    </td>
  </tr>
</tbody>
</table>