<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact: true}">Facility
            Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/system-inventory'"
            [routerLinkActive]="'active'">Industrial System Inventory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/end-use-inventory'"
            [routerLinkActive]="'active'">End Use Inventory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/reports'"
            [routerLinkActive]="'active'">Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/manage'"
            [routerLinkActive]="'active'">Manage</a>
    </li>
</ul>