<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact: true}">
            Facility
            Dashboard
        
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/manage'"
            [routerLinkActive]="'active'">
            <fa-icon [icon]="faGears"></fa-icon>
            Details
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/performance-indicators'"
            [routerLinkActive]="'active'">
            <fa-icon [icon]="faBullseye"></fa-icon>
            Key Performance Indicators
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/system-inventory'"
            [routerLinkActive]="'active'">
            <fa-icon [icon]="faList"></fa-icon>
            Industrial System Inventory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/end-use-inventory'"
            [routerLinkActive]="'active'">
            <fa-icon [icon]="faDiagramProject"></fa-icon>
            End Use Inventory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio/facility/'+facility.guid + '/reports'"
            [routerLinkActive]="'active'">
            <fa-icon [icon]="faFile"></fa-icon>
            Reports
        </a>
    </li>
</ul>