<div (mousemove)="dragMouse($event)" (mouseup)="stopResizing()" (touchmove)="dragTouch($event)"
    (touchend)="stopResizing()" #pageContent (mouseleave)="stopResizing()" [ngClass]="{'d-flex w-100 h-100': !print}">
    <ng-container *ngIf="!print">
        <div class="d-flex" [ngStyle]="{'width.px': sidebarWidth}">
            <div class="w-100">
                <app-setup-wizard-sidebar
                    (emitToggleCollapse)="toggleCollapseSidebar($event)"></app-setup-wizard-sidebar>
            </div>
            <div class="resize-handle" (mousedown)="startResizingSidebarMouse($event)"
                (touchstart)="startResizingSidebarTouch($event)">
                <div class="h-100 d-flex align-items-center">
                    <div>
                        <fa-icon [icon]="faGripVertical"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div [ngClass]="{'main-content': !print}" [ngStyle]="{'width.px': (!print ? contentWidth : undefined )}">
        <router-outlet></router-outlet>
    </div>
    <ng-container *ngIf="!print">
        <div class="d-flex" [ngStyle]="{'width.px': helpWidth}">
            <div class="resize-handle" (mousedown)="startResizingHelpMouse($event)"
                (touchstart)="startResizingHelpTouch($event)">
                <div class="h-100 d-flex align-items-center">
                    <div>
                        <fa-icon class="mt-auto" [icon]="faGripVertical"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="w-100">
                <app-setup-wizard-side-panel
                    (emitToggleCollapse)="toggleCollapseHelp($event)"></app-setup-wizard-side-panel>
            </div>
        </div>
    </ng-container>
</div>