<div class="d-flex w-100 h-100" (mousemove)="drag($event)" (mouseup)="stopResizing($event)" #pageContent (mouseleave)="stopResizing($event)">
    <div class="d-flex" [ngStyle]="{'width.px': sidebarWidth}">
        <div class="w-100">
            <app-setup-wizard-sidebar (emitToggleCollapse)="toggleCollapseSidebar($event)"></app-setup-wizard-sidebar>
        </div>
        <div class="resize-handle pe-1 ps-1" (mousedown)="startResizingSidebar($event)">
            <div class="h-100 d-flex align-items-center">
                <div>
                    <fa-icon [icon]="faGripVertical"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div [ngStyle]="{'width.px': contentWidth}">
        <router-outlet></router-outlet>
    </div>
    <div class="d-flex" [ngStyle]="{'width.px': helpWidth}">
        <div class="resize-handle ps-1 pe-1" (mousedown)="startResizingHelp($event)">
            <div class="h-100 d-flex align-items-center">
                <div>
                    <fa-icon class="mt-auto" [icon]="faGripVertical"></fa-icon>
                </div>
            </div>
        </div>
        <div class="w-100">
            <app-setup-wizard-help-panel
                (emitToggleCollapse)="toggleCollapseHelp($event)"></app-setup-wizard-help-panel>
        </div>
    </div>
</div>



<app-contact-modal *ngIf="displayContactModal" (emitCancelContact)="closeContactModal()"
    [contextGuid]="displayContactModal.contextGuid" [contactContext]="displayContactModal.context"
    [selectedContact]="displayContactModal.viewContact"
    [companyGuid]="displayContactModal.companyId"></app-contact-modal>