<div class="h-100 d-flex flex-column align-items-start justify-content-start shadow help-text help-container"
  [ngClass]="{'collapsed': !helpPanelOpen, 'shadow': !inSmallScreen}">
  <div class="w-100 pb-1 d-flex">
    <div class="toggle-collapse d-flex flex-column w-100">
      <nav class="navbar pt-0">
        <a class="click-link" (click)="toggleCollapseHelpPanel()">
          @if (helpPanelOpen) {
            <fa-icon [icon]="faChevronCircleRight"></fa-icon>
          }
          @if (!helpPanelOpen) {
            <fa-icon [icon]="faChevronCircleLeft"></fa-icon>
          }
        </a>
        @if (helpPanelOpen) {
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" (click)="setActivePanel('results')"
                [ngClass]="{'active': activePanel == 'results'}">
                <fa-icon [icon]="faDollarSign"></fa-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="setActivePanel('help')"
                [ngClass]="{'active': activePanel == 'help'}">
                <fa-icon [icon]="faCircleQuestion"></fa-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="setActivePanel('system-diagram')"
                [ngClass]="{'active': activePanel == 'system-diagram'}">
                <fa-icon [icon]="faLink"></fa-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="setActivePanel('nebs')"
                [ngClass]="{'active': activePanel == 'nebs'}">
                <fa-icon [icon]="faWeightHanging"></fa-icon>
              </a>
            </li>
          </ul>
        }
      </nav>
    </div>
  </div>
  @if (helpPanelOpen) {
    @if (activePanel == 'help') {
      <app-setup-wizard-help-content class="w-100"></app-setup-wizard-help-content>
    }
    @if (activePanel == 'results') {
      <app-side-panel-results class="w-100"></app-side-panel-results>
    }
    @if (activePanel == 'system-diagram') {
      <app-side-panel-system-diagram class="w-100"></app-side-panel-system-diagram>
    }
    @if (activePanel == 'nebs') {
      <app-side-panel-nebs-diagram class="w-100"></app-side-panel-nebs-diagram>
    }
  }
</div>