<div class="accordion protocol-questions" [id]="'energyEquipmentDiscoveryAccordion'">
    <!--TAKE STOCK-->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" [attr.data-bs-target]="'#takeStock'" aria-expanded="true"
                [attr.aria-controls]="'takeStock'" (click)="toggleBS('takeStock')"
                [ngClass]="{'collapsed': collapseTackStock}">
                <fa-icon [icon]="faClipboardQuestion" class="me-1"></fa-icon>
                Take Stock
            </button>
        </h2>
        <div [id]="'#takeStock'" class="accordion-collapse collapse"
            [attr.data-bs-parent]="'#energyEquipmentDiscoveryAccordion'">
            <div class="accordion-body">
                <app-process-equipment-take-stock [inPortfolio]="inPortfolio"></app-process-equipment-take-stock>
            </div>
        </div>
    </div>
    <!--TODO: issue 396-->
    <!--OPERATIONS-->
    <div class="accordion-item" *ngIf="inPortfolio">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" [attr.data-bs-target]="'#operations'" aria-expanded="true"
                [attr.aria-controls]="'operations'" (click)="toggleBS('operations')"
                [ngClass]="{'collapsed': collapseOperations}">
                <fa-icon [icon]="faClipboardQuestion" class="me-1"></fa-icon>
                Operations
            </button>
        </h2>
        <div [id]="'#operations'" class="accordion-collapse collapse" [ngClass]="{'show': !collapseOperations}"
            [attr.data-bs-parent]="'#energyEquipmentDiscoveryAccordion'">
            <div class="accordion-body">
                <app-process-equipment-operations [inPortfolio]="inPortfolio"></app-process-equipment-operations>
            </div>
        </div>
    </div>
    <!--Energy & Material Efficiency-->
    <div class="accordion-item" *ngIf="inPortfolio">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" [attr.data-bs-target]="'#sustainability'"
                aria-expanded="true" [attr.aria-controls]="'sustainability'" (click)="toggleBS('sustainability')"
                [ngClass]="{'collapsed': collapseSustainability}">
                <fa-icon [icon]="faClipboardQuestion" class="me-1"></fa-icon>
                Energy & Material Efficiency
            </button>
        </h2>
        <div [id]="'#sustainability'" class="accordion-collapse collapse" [ngClass]="{'show': !collapseSustainability}"
            [attr.data-bs-parent]="'#energyEquipmentDiscoveryAccordion'">
            <div class="accordion-body">
                <app-process-equipment-sustainablity [inPortfolio]="inPortfolio"></app-process-equipment-sustainablity>
            </div>
        </div>
    </div>
    <!--Employee and Workplace Environment-->
    <div class="accordion-item" *ngIf="inPortfolio">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" [attr.data-bs-target]="'#employeeEngagement'"
                aria-expanded="true" [attr.aria-controls]="'employeeEngagement'"
                (click)="toggleBS('employeeEngagement')" [ngClass]="{'collapsed': collapseEmployeeEngagement}">
                <fa-icon [icon]="faClipboardQuestion" class="me-1"></fa-icon>
                Employee and Workplace Environment
            </button>
        </h2>
        <div [id]="'#employeeEngagement'" class="accordion-collapse collapse"
            [ngClass]="{'show': !collapseEmployeeEngagement}"
            [attr.data-bs-parent]="'#energyEquipmentDiscoveryAccordion'">
            <div class="accordion-body">
                <app-process-equipment-employee-engagement
                    [inPortfolio]="inPortfolio"></app-process-equipment-employee-engagement>
            </div>
        </div>
    </div>