<p class="fw-light small mb-0" [innerHTML]="EnergyEquipmentTakeStockHelp.sectionHelp">
</p>
<hr class="my-2">
<!--howSupportPlant-->
<label>
    How does this system support the plant?
</label>
<!-- <p class="fw-light small" [innerHTML]="EnergyEquipmentTakeStockHelp.howSupportPlantQs">
                </p> -->
<textarea id="howSupportPlant" name="howSupportPlant" class="form-control" [(ngModel)]="howSupportPlant"
    (input)="saveChanges()" (focus)="focusField('howSupportPlant')" rows="3"></textarea>
<hr class="my-1">
<!--adverseEffects-->
<label>
    How are other areas adversely affected by energy inefficiencies in the system?
</label>
<!-- <p class="fw-light small" [innerHTML]="EnergyEquipmentTakeStockHelp.adverseEffects">
                </p> -->
<textarea id="adverseEffects" name="adverseEffects" class="form-control" [(ngModel)]="adverseEffects"
    (input)="saveChanges()" (focus)="focusField('adverseEffects')" rows="3"></textarea>
<hr class="my-1">
<!--equipmentFinancialStatus-->
<label>
    Describe the financial status of the equipment
</label>
<!-- <p class="fw-light small" [innerHTML]="EnergyEquipmentTakeStockHelp.equipmentFinancialStatus">
                </p>
                <p class="fw-light small" [innerHTML]="EnergyEquipmentTakeStockHelp.equipmentFinancialStatusQs">
                </p> -->
<textarea id="equipmentFinancialStatus" name="equipmentFinancialStatus" class="form-control"
    [(ngModel)]="equipmentFinancialStatus" (input)="saveChanges()" (focus)="focusField('equipmentFinancialStatus')"
    rows="3"></textarea>