<div class="d-flex w-100 justify-content-between">
    <div>
        <h6 class="pt-2">Non-Energy Benefits</h6>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-outline-neb btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="toggleAddNebDropdown()">
                <fa-icon [icon]="faPlus"></fa-icon> Add NEB
            </button>
            <ul class="dropdown-menu" [ngClass]="{'show': showAddNebDropdown}">
                <li>
                    <a class="dropdown-item" (click)="addNEB(false)">
                        <fa-icon [icon]="faPlus"></fa-icon> Add Custom NEB
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" (click)="showSuggestedNEBs()">
                        <fa-icon [icon]="faSearchPlus"></fa-icon> Search NEBs Database
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" (click)="addNEB(true)">
                        <fa-icon [icon]="faMoneyBillWave"></fa-icon> Add One-time Incentive
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr class="my-2">

<ng-template [ngIf]="nonEnergyBenefits.length > 0" [ngIfElse]="noNebsBlock">
    <app-energy-opportunity-nebs-table [nonEnergyBenefits]="nonEnergyBenefits"
        [inDashboard]="true"></app-energy-opportunity-nebs-table>
</ng-template>


<ng-template #noNebsBlock>
    <div class="alert alert-info p-2 text-center">
        No non energy benefits found for this assessment. Use the "<fa-icon [icon]="faSearchPlus"></fa-icon>
        Add NEB" dropdown to either add a custom NEB or search our NEBs database for new NEBs to be added to this
        assessment.
    </div>
</ng-template>