<div class="d-flex w-100 justify-content-between">
    <div>
        <h6 class="pt-2">Assessment Non-Energy Benefits</h6>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-outline-neb btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="toggleAddNebDropdown()">
                <fa-icon [icon]="faPlus"></fa-icon> Add NEB
            </button>
            <ul class="dropdown-menu" [ngClass]="{'show': showAddNebDropdown}">
                <li>
                    <a class="dropdown-item" (click)="addNEB()">
                        <fa-icon [icon]="faPlus"></fa-icon> Add Custom NEB
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" (click)="showSuggestedNEBs()">
                        <fa-icon [icon]="faSearchPlus"></fa-icon> Search NEBs Database
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr class="my-2">

<ng-template [ngIf]="assessmentNonEnergyBenefits.length > 0 || energyOppNonEnergyBenefits.length > 0"
    [ngIfElse]="noNebsBlock">
    <ng-template [ngIf]="assessmentNonEnergyBenefits.length > 0" [ngIfElse]="noAssessmentNebsBlock">
        <p class="fw-light small">
            Use the "<fa-icon [icon]="faPlus"></fa-icon> Add NEB" dropdown to add Non-Energy Benefits
            (<fa-icon [icon]="faWeightHanging"></fa-icon>) that
            <span class="bold">are not associated with any specific energy efficiency opportunity</span> to this
            assessment.
        </p>
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>
                        Non-Energy Benefit
                    </th>
                    <th>
                        Key Performance <br> Metric Impacts
                    </th>
                    <th>
                        Stakeholders
                    </th>
                    <th>
                        Total Savings<br>
                        <span class="fw-light">
                            (&dollar;/yr)
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nonEnergyBenefit of assessmentNonEnergyBenefits">
                    <td>
                        <fa-icon [icon]="faWeightHanging"></fa-icon>
                        {{nonEnergyBenefit.name}}
                    </td>
                    <td>
                        @let kpmImpacts = nonEnergyBenefit.guid | associatedPerformanceMetricImpacts:
                        keyPerformanceMetricImpacts;
                        <ng-template [ngIf]="kpmImpacts.length > 0" [ngIfElse]="noNebsBlock">
                            <span *ngFor="let kpmImpact of kpmImpacts">
                                <span [innerHTML]="kpmImpact.kpmGuid | kpmLabel: keyPerformanceMetrics: 'guid'"></span>
                                <br>
                            </span>
                        </ng-template>
                        <ng-template #noNebsBlock>
                            &mdash;
                        </ng-template>
                    </td>
                    <td>
                        @let associatedContacts = nonEnergyBenefit.guid | associatedContacts:'nonEnergyBenefit':
                        contacts;
                        <ng-template [ngIf]="associatedContacts.length > 0" [ngIfElse]="noContactsBlock">
                            <span *ngFor="let contact of associatedContacts">
                                {{contact | contactNameDisplay}} <br>
                            </span>
                        </ng-template>
                        <ng-template #noContactsBlock>
                            &mdash;
                        </ng-template>
                    </td>
                    <td>
                        <app-single-cell-item
                            [numValue]="nonEnergyBenefit.guid | nebTotalSavings: keyPerformanceMetricImpacts"
                            [isCurrency]="true"></app-single-cell-item>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template #noAssessmentNebsBlock>
        <div class="alert alert-info p-2 text-center">
            No non energy benefits found for this assessment. Use the "<fa-icon [icon]="faSearchPlus"></fa-icon>
            Add NEB" dropdown to either add a custom NEB or search our NEBs database for new NEBs to be added to this
            assessment.
        </div>
    </ng-template>

    <ng-container *ngIf="energyOppNonEnergyBenefits.length > 0">
        <hr>
        <app-energy-opportunity-nebs-table [nonEnergyBenefits]="energyOppNonEnergyBenefits"
            [inDashboard]="true"></app-energy-opportunity-nebs-table>
    </ng-container>




</ng-template>

<ng-template #noNebsBlock>
    <div class="alert alert-info p-2 text-center">
        No non energy benefits found for this assessment. Use the "<fa-icon [icon]="faSearchPlus"></fa-icon>
        Add NEB" dropdown to either add a custom NEB or search our NEBs database for new NEBs to be added to this
        assessment.
    </div>
</ng-template>