th:not(:first-of-type), td:not(:first-of-type){
    /* width: 25%; */
    text-align: right;
}
.table td, .table th{
    padding: .25rem;
    font-size: 14px;
    vertical-align: middle;
}

.text-left{
    text-align: left;
}

.ordered-th{
    text-decoration: underline;
}

.w-20{
    width: 20%;
}

.limit-options{
    width: 50px;
}

th:hover{
    cursor: pointer;
    text-decoration: underline;
}