<div class="card portfolio">
    <div class="card-body">
        <div class="card-title secondary d-flex justify-content-between">
            <div>
                <fa-icon [icon]="faFolderTree"></fa-icon>
                All Portfolio Content
            </div>
        </div>
        <div class="accordion" [id]="'companyAccordion'">
            <div class="accordion-item company-item"
                *ngFor="let company of companies; let index = index; let last = last;">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" [attr.data-bs-target]="'#'+company.guid"
                        aria-expanded="true" [attr.aria-controls]="company.guid" (click)="toggleBS(company.guid)"
                        [ngClass]="{'collapsed': accordionGuid != company.guid}">
                        <fa-icon class="pe-2" [icon]="faBuilding"></fa-icon>
                        {{company.generalInformation.name}}
                    </button>
                </h2>
                <div [id]="'#'+company.guid" class="accordion-collapse collapse"
                    [attr.data-bs-parent]="'#companyAccordion'">
                    <div class="accordion-body">
                        <app-company-list-item [company]="company"></app-company-list-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

