<div class="row pb-2">
    <label class="col-sm-5" for="kpiValue">Search NEBs</label>
    <div class="col-7">
        <div class="input-group" role="search">
            <span class="input-group-text">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </span>
            <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="nebSearchStr"
                [(ngModel)]="nebSearchStr"
                (input)="filterKeywordList()"
            />
        </div>
        <ul class="dropdown-menu show" *ngIf="nebSearchStr && filteredKeywordList.length > 0">
            <li
                *ngFor="let keyword of filteredKeywordList"
                class="dropdown-item"
                (click)="keyword != '...' && selectKeyword(keyword)"
            >
                {{ keyword }}
            </li>
        </ul>
    </div>
</div>

<div class="row pb-2">
    <label class="col-sm-5" for="kpiValue">Key Performance Indicator (KPI)</label>
    <div class="col-7">
        <select id="kpiValue" name="kpiValue" class="form-select" [(ngModel)]="kpiValue" (change)="setKpmOptions()">
            <option [ngValue]="undefined">All KPI</option>
            <option *ngFor="let kpi of keyPerformanceIndicatorOptions" [ngValue]="kpi.optionValue">
                <div class="d-flex">
                    <ng-template [ngIf]="facilityTrackedKpis.includes(kpi.optionValue)">
                        <div class="p-1">
                            &ast;
                        </div>
                    </ng-template>
                    <div class="p-0">
                        <span [innerHTML]="kpi.label"></span>
                    </div>
                </div>
            </option>
        </select>
    </div>
</div>
<div class="row">
    <label class="col-sm-5" for="kpmValue">Key Performance Metric (KPM)</label>
    <div class="col-7">
        <select id="kpmValue" name="kpmValue" class="form-select" [(ngModel)]="kpmValue">
            <option [ngValue]="undefined">All KPM</option>
            <option *ngFor="let kpm of keyPerformanceMetricOptions" [ngValue]="kpm.value">
                <div class="d-flex">
                    <ng-template [ngIf]="facilityTrackedKpms.includes(kpm.value)">
                        <div class="p-1">
                            &ast;
                        </div>
                    </ng-template>
                    <div class="p-0">
                        <span class="inner-span" [innerHTML]="kpm.label"></span>
                    </div>
                </div>
            </option>
        </select>
    </div>
</div>
<p class="text-right fw-light" *ngIf="inAddModal">
    &ast; Indicates KPI/KPM currently tracked by this company.
</p>
<hr>
<div class="my-2">
    <button
        *ngFor="let keyword of topKeywords"
        class="btn btn-outline-primary btn-sm border-0"
        (click)="selectTopKeyword(keyword)"
    >
        #{{ keyword }}
    </button>
</div>
@let tableList = nebOptions | nebOptionsFilter: orderByDir: kpiValue: kpmValue: keyPerformanceMetricOptions:
nebSearchStr;
<table class="table table-bordered table-hover table-sm">
    <thead>
        <tr class="clickable">
            <th *ngIf="inAddModal">

            </th>
            <th (click)="toggleOrderBy()">
                <fa-icon [icon]="faChevronDown" *ngIf="orderByDir == 'asc'"></fa-icon>
                <fa-icon [icon]="faChevronUp" *ngIf="orderByDir == 'desc'"></fa-icon>
                Non-Energy Benefits ({{tableList.length}})
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let neb of tableList">
            <tr>
                <td (click)="selectNeb(neb)" class="add-td text-center" *ngIf="inAddModal"
                    [ngClass]="{'bg-success': neb.selected}">
                    <a class="click-link">
                        <ng-template [ngIf]="!neb.selected" [ngIfElse]="selectedNebBlock">
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </ng-template>
                        <ng-template #selectedNebBlock>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </ng-template>
                    </a>
                </td>
                <td>
                    <div class="w-100" (click)="selectNeb(neb)" [ngClass]="{'bold': neb.selected}">
                        <span [innerHTML]="neb.htmlLabel"></span>
                    </div>

                    <ng-container *ngIf="neb.selected" class="no-hover">
                        <div class="metric-column">
                            <ng-template [ngIf]="inAddModal" [ngIfElse]="nonModalBlock">
                                Select KPMs impacted by this NEB.
                                <div class="d-flex ps-2 flex-column">
                                    <ng-container *ngFor="let metric of neb.KPM">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="{{'check_'+metric+neb.optionValue}}"
                                                (change)="setChecked(neb, metric)"
                                                [checked]="neb.selectedKPM.includes(metric)">
                                            <label class="form-check-label" for="{{'check_'+metric+neb.optionValue}}">
                                                <div class="d-flex">
                                                    <ng-template [ngIf]="facilityTrackedKpms.includes(metric)">
                                                        <div class="pe-1">
                                                            &ast;
                                                        </div>
                                                    </ng-template>
                                                    <span
                                                        [innerHTML]="metric | kpmLabel: allKpmOptions: 'metricValue'"></span>
                                                </div>
                                            </label>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-template>
                            <ng-template #nonModalBlock>
                                <div class="fw-light">
                                    KPMs impacted by this NEB
                                    <ng-container>
                                        <ul class="mb-0">
                                            <li *ngFor="let metric of neb.KPM">
                                                <span
                                                    [innerHTML]="metric | kpmLabel: allKpmOptions: 'metricValue'"></span>
                                            </li>
                                        </ul>
                                    </ng-container>
                                </div>
                            </ng-template>
                        </div>
                    </ng-container>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

<ng-template [ngIf]="tableList.length == 0">
    <div class="alert alert-info p-2">
        No NEBs found matching search criteria. You may need to create a custom NEB.
    </div>
</ng-template>