<div class="toast-container position-fixed bottom-0 end-0 p-3 hide-print">
    <div #toastItem role="alert" aria-live="assertive" aria-atomic="true" class="toast"
        [attr.data-bs-autohide]="toastNotification?.autoHide" [ngClass]="toastNotification?.toastClass">
        <ng-template [ngIf]="toastNotification">
            <div class="toast-header">
                <strong class="me-auto">{{toastNotification.title}}</strong>
                <button type="button" class="btn-close" (click)="closeToast()" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <span [innerHTML]="toastNotification.body"></span>
            </div>
        </ng-template>
    </div>
</div>