<div class="row">
    <div class="col">
        <label class="bold">Industrial System &mdash; Take Stock</label>
        <p class="fw-light smaller mb-0">
            These questions are designed to help you think about how the system is connected to other parts of the plant
            and how changes here could impact operations.
        </p>
        <hr class="my-1">
        <!--howSupportPlant-->
        <label class="bold">
            How does this system support the plant?
        </label>
        <p class="fw-light small">
            Does it supply a utility for the whole plant? Provide flow for a system? Is it critical to another system
            that is critical to overall plant operations?
        </p>
        <textarea id="howSupportPlant" name="howSupportPlant" class="form-control" [(ngModel)]="howSupportPlant"
            (input)="saveChanges()" (focus)="focusField('howSupportPlant')" rows="3"></textarea>
        <hr class="my-1">
        <!--adverseEffects-->
        <label class="bold">
            How are other areas adversely affected by energy inefficiencies in the system?
        </label>
        <p class="fw-light small">
            The assessors should look at the end use applications as part of the system and if they notice an energy
            efficiency problem like unstable pneumatic pressure at the end use applications they should inquire as to
            whether the unstable pressure is causing other problems like product quality issues. This would then give
            them a reason to inquire about how the plant assesses quality and what they try to do about it.<br>
            Once an assessor finds a non-energy problem that is cause by energy inefficiency in the industrial system
            they want to know how much it is costing the company so that if they recommend a project that makes the
            energy inefficient condition go away, they can reasonably estimate the total cost savings for the plant.

        </p>
        <textarea id="adverseEffects" name="adverseEffects" class="form-control" [(ngModel)]="adverseEffects"
            (input)="saveChanges()" (focus)="focusField('adverseEffects')" rows="3"></textarea>
        <hr class="my-1">
        <!--equipmentFinancialStatus-->
        <label class="bold">
            Describe the financial status of the equipment
        </label>
        <p class="fw-light small">
            The age and financials of the equipment can impact how willing the site might be to equipment replacement or
            major overhauls. Understanding financial metrics for system can help quantify non-energy benefits related to
            the system (usually as cost per output: $/ton steam, $/scm air, $/gpm).<br>
            Has the system been fully expensed?<br>
            Is the system at end of life or are their existing plans for an upgrade?<br>
            Does the facility use financial metrics to gauge this system's operation?<br>

        </p>
        <textarea id="equipmentFinancialStatus" name="equipmentFinancialStatus" class="form-control" [(ngModel)]="equipmentFinancialStatus"
            (input)="saveChanges()" (focus)="focusField('equipmentFinancialStatus')" rows="3"></textarea>
        <hr class="my-1">
    </div>
</div>