<div class="row g-0 justify-content-center">
    <div class="col-lg-9 col-md-10 col-sm-11 static-content">
        <div class="ps-3 pt-2 pe-3 pb-2">
            <h4>
                <fa-icon [icon]="faCircleInfo" class="pe-1"></fa-icon>
                About
            </h4>
            <p>
                The JUSTIFI tool was developed by staff at the National Renewable Energy Laboratory (NREL) and Oak Ridge
                National Laboratory (ORNL) and in collaboration with the
                U.S. Department of Energy. This software tool was funded by the U.S. Department of Energy's Office of
                Energy Efficiency and Renewable Energy under National Renewable Energy Laboratory Contract No.
                DE-AC36-08GO28308 and Oak Ridge National Laboratory Contract No.
                DE-AC05-00OR22725.
            </p>
        </div>
        <div class="ps-3 pt-2 pe-3 pb-2">

            <h4>
                <fa-icon [icon]="faCircleInfo" class="pe-1"></fa-icon>
                User Data
            </h4>
            <p>
                You are running the Software in a web browser on your device. 
                All application data is saved locally within this browser to your device and/or browser. 
                NREL, ORNL, and the DOE do not have access to data you input into the Software and/or outputs 
                based on your data provided by the Software. 
                Should the Software, your browser, and/or your device crash, fail, or otherwise have an error, 
                data you entered into the Software and the outputs based on that data may be lost. 
                It is encouraged that you download backup files of your data frequently. 
                Backups can be imported back into the Software if needed to restore lost or corrupted data. 
            </p>
            <p>
                You may voluntarily provide a backup file of your data to NREL and ORNL for use in improving the Software. 
                By providing such data you are agreeing that NREL and ORNL may use such data without restriction and without 
                compensation or obligation to you. 
                To the extent any license would be required to utilize such data, you automatically grant NREL and ORNL, 
                when submitting such data, a worldwide, royalty-free, perpetual, irrevocable, non-exclusive, 
                transferrable, and sublicensable license under any rights necessary for such use or implementation.

            </p>
        </div>
    </div>
</div>