<div class="row g-0 justify-content-center">
    <div class="col-lg-9 col-md-10 col-sm-11 static-content">
        <div class="ps-3 pt-2 pe-3 pb-2">
            <h4>
                <fa-icon [icon]="faCircleInfo" class="pe-1"></fa-icon>
                About
            </h4>
            <p>
                JUSTIFI is a software tool provided by the Department of Energy that gives users a way to identify,
                estimate potential and report on non-energy benefits (NEBs) that can
                be found while conducting energy assessments.
            </p>
            <p>The development and reasearch for this tool is being conducted jointly by the
                National Renewable Energy Laboratory (NREL) and Oak Ridge National Laboratory (ORNL).
            </p>
        </div>
    </div>
</div>