<div class="row g-0 justify-content-center">
    <div class="col-lg-9 col-md-10 col-sm-11 static-content">
        <div class="ps-3 pt-2 pe-3 pb-2">
            <h4>
                <fa-icon [icon]="faCircleInfo" class="pe-1"></fa-icon>
                About
            </h4>
            <p>
                The JUSTIFI tool was developed by staff at the National Renewable Energy Laboratory (NREL) and Oak Ridge
                National Laboratory (ORNL) and in collaboration with the
                U.S. Department of Energy. This software tool was funded by the U.S. Department of Energy's Office of
                Energy Efficiency and Renewable Energy under National Renewable Energy Laboratory Contract No.
                DE-AC36-08GO28308 and Oak Ridge National Laboratory Contract No.
                DE-AC05-00OR22725.
            </p>
        </div>
    </div>
</div>