

.contact.accordion-button:not(.collapsed){
    background-color: #0079c2;
    color: white;
}


.accordion-button:not(.collapsed){
    background-color: white;
    /* color: white; */
}

.accordion{
    --bs-accordion-border-radius: 0;
}

.accordion-button{
    padding: .25rem;
}

.portfolio .accordion .accordion-button{
    font-size: 18px;
}

.accordion-button, .accordion-item:first-of-type>.accordion-header .accordion-button, .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed  {
    border-radius: 0;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
}