.help-text{
    padding: .25rem;
    width: 100%;
    flex-grow: inherit;
}

.help-text p, .help-text ol {
    font-weight: 300;
    font-size: .875rem;
}

.help-text p{
    margin-bottom: 0px;
}

.help-text .panel-label h5{
    font-weight: 300;
}

.help-text hr{
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.help-text .help-disclaimer{
    font-size: small;
    font-style: italic;
}