<div class="row">
  <div class="col">
    <!--how costs are tracked-->
    <label class="bold">
      What key performance metrics (KPMs) does the facility track?
    </label>
    @if (inPortfolio) {
      <p class="fw-light small" [innerHTML]="FacilityProtocolHelp.howCostsTracked">
      </p>
    }
    <textarea id="howCostsTracked" name="howCostsTracked" class="form-control" [(ngModel)]="howCostsTracked"
    (input)="saveChanges()" (focus)="focusField('howCostsTracked')" rows="3"></textarea>
    <hr>
      <!--financial metrics used-->
      <label class="bold">
        What tools or resources does the facility utilize to track and understand its operational costs and other KPMs?
      </label>
      @if (inPortfolio) {
        <p class="fw-light small" [innerHTML]="FacilityProtocolHelp.financialMetricsUsed">
        </p>
      }
      <textarea id="financialMetricsUsed" name="financialMetricsUsed" class="form-control"
        [(ngModel)]="financialMetricsUsed" (input)="saveChanges()" (focus)="focusField('financialMetricsUsed')"
      rows="3"></textarea>
      <hr>
        <!--external financial pressures-->
        <label class="bold">
          Are there any external pressures?
        </label>
        @if (inPortfolio) {
          <p class="fw-light small" [innerHTML]="FacilityProtocolHelp.outsidePressures">
          </p>
        }
        <textarea id="outsidePressures" name="outsidePressures" class="form-control" [(ngModel)]="outsidePressures"
        (input)="saveChanges()" (focus)="focusField('outsidePressures')" rows="3"></textarea>
        <hr>
          <!--equipment acquisition-->
          <label class="bold">
            What other considerations are used when making equipment acquisitions (lifecycle, performance, costs)?
          </label>
          @if (inPortfolio) {
            <p class="fw-light small" [innerHTML]="FacilityProtocolHelp.equipmentAcquisition">
            </p>
          }
          <textarea id="equipmentAcquisition" name="equipmentAcquisition" class="form-control"
            [(ngModel)]="equipmentAcquisition" (input)="saveChanges()" (focus)="focusField('equipmentAcquisition')"
          rows="3"></textarea>

          <hr>
            <!--financial criteria-->
            <label class="bold">
              Are there rules or guidelines for decision making for energy-related projects, such as payback period?
            </label>
            @if (inPortfolio) {
              <p class="fw-light small" [innerHTML]="FacilityProtocolHelp.financialCriteria">
              </p>
            }
            <textarea id="financialCriteria" name="financialCriteria" class="form-control" [(ngModel)]="financialCriteria"
            (input)="saveChanges()" (focus)="focusField('financialCriteria')" rows="3"></textarea>
            <hr>
              <!--dependentFunding-->
              <label class="bold">
                How does the facility fund energy-related projects - internal budgets (Operations or Capital), alternative external funding, a combination?
              </label>
              @if (inPortfolio) {
                <p class="fw-light small" [innerHTML]="FacilityProtocolHelp.dependentFunding">
                </p>
              }
              <textarea id="dependentFunding" name="dependentFunding" class="form-control" [(ngModel)]="dependentFunding"
              (input)="saveChanges()" (focus)="focusField('dependentFunding')" rows="3"></textarea>
              <hr>
                <!--efficiency incentives-->
                <label class="bold">
                  What energy efficiency incentives is your facility eligible for?
                </label>
                @if (inPortfolio) {
                  <p class="fw-light small" [innerHTML]="FacilityProtocolHelp.efficiencyIncentives">
                  </p>
                }
                <textarea id="efficiencyIncentives" name="efficiencyIncentives" class="form-control"
                  [(ngModel)]="efficiencyIncentives" (input)="saveChanges()" (focus)="focusField('efficiencyIncentives')"
                rows="3"></textarea>

              </div>
            </div>