<div class="row g-0 justify-content-center">
    <div [ngClass]="{'col-lg-9 col-md-10 col-sm-11 static-content': !inModal, 'col-12': inModal}">
        <div [ngClass]="{'ps-3 pt-2 pe-3 pb-2': !inModal}">
            <h4 *ngIf="!inModal" class="mb-3">
                Feedback & Support
            </h4>
            <p>
                We'd love to hear from you! The JUSTIFI application is in active development, and your input helps 
                us improve the user experience, add features, and fix issues quickly. Please reach out to the 
                <a href="mailto:justifi-help@ornl.gov">JUSTIFI help desk</a> at justifi-help&#64;ornl.gov.
            </p>
            <h5>
                <fa-icon [icon]="faInbox" class="pe-1"></fa-icon>
                Feedback
            </h5>
            <p class="mb-0">
                Do you have suggestions for improving JUSTIFI? We welcome your ideas!
            </p>
            <ul>
                <li>Send an email with subject line: <span class="bold">“JUSTIFI Feedback - A Summary”</span></li>
                <li>The team may follow up with you for clarification and updates.</li>
            </ul>
            <hr>
            <h5>
                <fa-icon [icon]="faBug" class="pe-1"></fa-icon> Bug Reporting
            </h5>
            <p class="mb-0">
                If you encounter unexpected behavior, errors, or crashes:
            </p>
            <ul>
                <li>Send an email with subject line: <span class="bold">“JUSTIFI Bug Reporting - A Summary”</span></li>
                <li>To help us resolve the issue faster, please include:</li>
                <ul>
                    <li>
                        A .json backup file of the data (the "<fa-icon [icon]="faDownload"></fa-icon>
                        Download Backup Data" button) (if applicable)
                    </li>
                    <li>
                        Detailed steps to reproduce the bugs
                    </li>
                    <li>
                        The browser you were using
                    </li>
                    <li>
                        Screenshots (if possible)
                    </li>
                </ul>
            </ul>
            <hr>
            <h5>
                <fa-icon [icon]="faHammer" class="pe-1"></fa-icon> Technical Support
            </h5>
            <p class="mb-0">
                For technical assistance, such as software installation, downloads, or troubleshooting: 
            </p>
            <ul>
                <li>Send an email with subject line: <span class="bold">“JUSTIFI Technical Support - A Summary”</span></li>
            </ul>
        </div>
    </div>
</div>