<div class="row g-0 justify-content-center">
    <div class="col-lg-9 col-md-10 col-sm-11 static-content">
        <div class="ps-3 pt-2 pe-3 pb-2">
            <h4>
                <fa-icon [icon]="faInbox" class="pe-1"></fa-icon>
                Feedback
            </h4>
            <p>
                We'd love to hear from you! The JUSTIFI application is in active development and your feedback can drive
                the development decisions regarding user experience, new features and general content within the tool.
                The best way to provide feedback to the team is to email <a href="mailto:armstrongko@ornl.gov">Kristina
                    Armstrong</a> (armstrongko&#64;ornl.gov). This will allow the team to follow up with any
                clarification questions in a timely manner and update you on progress towards implementing your ideas!
            </p>
            <hr>
            <h4>
                <fa-icon [icon]="faBug"></fa-icon> Bug Reporting
            </h4>
            <p>
                If you happen to encounter a bug while using JUSTIFI please report them to <a
                    href="mailto:armstrongko@ornl.gov">Kristina
                    Armstrong</a> (armstrongko&#64;ornl.gov) as well. She will help you get things sorted out and make
                sure we fix the bug so that no other users run into the same situation in the future.
            </p>
            <p>
                Some details that
                are good to provide when reporting a bug include:
            </p>
            <ul>
                <li>
                    A .json backup of the data in your system (use the "<fa-icon [icon]="faDownload"></fa-icon> Download
                    Data" button)
                </li>
                <li>
                    Details of steps taken that triggered the bug you encounter that we can use to re-produce it
                </li>
                <li>
                    The type of browser you were using
                </li>
                <li>
                    Screen shots of what you are seeing/encountering
                </li>
            </ul>
        </div>
    </div>
</div>