<div class="d-flex w-100 justify-content-end">
  <div>
    <button class="btn action-btn btn-sm me-2" (click)="openExportModal()">
      <fa-icon class="me-1" [icon]="faFileExcel"></fa-icon>
      Export Questions to Excel
    </button>
    <button class="btn btn-outline-success btn-sm" (click)="addEquipment()">
      <fa-icon [icon]="faPlus"></fa-icon>
      Add New Equipment
    </button>
  </div>
</div>
<hr class="my-2">

@if (energyEquipments.length > 0) {
  <div class="w-100 overflow-scroll-x">
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Industrial System
          </th>
          <th>
            Utility Type
          </th>
          <th>
            Energy Use<br>
            <span class="fw-light small">
              (<span [innerHTML]="companyEnergyUnit | unitsDisplay"></span>/yr)
            </span>
          </th>
          <th>
            Stakeholders
          </th>
        </tr>
      </thead>
      <tbody>
        @for (energyEquipment of energyEquipments; track energyEquipment) {
          <tr>
            <td>
              <a class="click-link"
                [routerLink]="'/portfolio/facility/'+energyEquipment.facilityId + '/system-inventory/'+energyEquipment.guid"
                [routerLinkActive]="'active'">
                {{energyEquipment.equipmentName}}
              </a>
            </td>
            <td>
              <app-single-cell-item [strValue]="energyEquipment.equipmentType"></app-single-cell-item>
            </td>
            <td>
              <app-single-cell-item [strValue]="energyEquipment.utilityType"></app-single-cell-item>
            </td>
            <td>
              <app-single-cell-item [numValue]="energyEquipment.annualEnergyUse"
              [numValueDigits]="'1.0-0'"></app-single-cell-item>
            </td>
            <td>
              @let associatedContacts = energyEquipment.guid | associatedContacts:'energyEquipment': contacts;
              @if (associatedContacts.length > 0) {
                @for (contact of associatedContacts; track contact) {
                  <span>
                    {{contact | contactNameDisplay}} <br>
                  </span>
                }
              } @else {
                &mdash;
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <div class="alert alert-info p-2 text-center">
    No industrial system equipment found for this facility. Use the "<fa-icon [icon]="faPlus"></fa-icon>
    Add New Equipment" button to add equipment to this facility.
  </div>
}


<app-protocol-questions-modal [selectedModule]="selectedModule"></app-protocol-questions-modal>