<p class="fw-light small" [innerHTML]="ProcessEquipmentSustainabilityHelp.sectionHelp">
</p>
<hr class="my-2">
<!--describeRefrigerantProcessDustEmissions-->
<label>
    Describe any refrigerant, process, or dust outputs that may come from this system
</label>
<ng-container *ngIf="inPortfolio">
    <p class="fw-light small" [innerHTML]="ProcessEquipmentSustainabilityHelp.describeRefrigerantProcessDustEmissions">
    </p>
    <p class="fw-light small" [innerHTML]="ProcessEquipmentSustainabilityHelp.describeRefrigerantProcessDustEmissionsQs">
    </p>
</ng-container>
<textarea id="describeRefrigerantProcessDustEmissions" name="describeRefrigerantProcessDustEmissions"
    class="form-control" [(ngModel)]="describeRefrigerantProcessDustEmissions" (input)="saveChanges()"
    (focus)="focusField('describeRefrigerantProcessDustEmissions')" rows="3"></textarea>
<hr class="my-1">

<!--describeWasteStreams-->
<label>
    Describe the waste streams that result from this process
</label>
<ng-container *ngIf="inPortfolio">
    <p class="fw-light small" [innerHTML]="ProcessEquipmentSustainabilityHelp.describeWasteStreams">
    </p>
    <p class="fw-light small" [innerHTML]="ProcessEquipmentSustainabilityHelp.describeWasteStreamsQs">
    </p>
</ng-container>
<textarea id="describeWasteStreams" name="describeWasteStreams" class="form-control" [(ngModel)]="describeWasteStreams"
    (input)="saveChanges()" (focus)="focusField('describeWasteStreams')" rows="3"></textarea>
<hr class="my-1">

<!--describeWaterInputDischarge-->
<label>
    Describe water input or discharge streams that result from this process
</label>
<ng-container *ngIf="inPortfolio">
    <p class="fw-light small" [innerHTML]="ProcessEquipmentSustainabilityHelp.describeWaterInputDischarge">
    </p>
    <p class="fw-light small" [innerHTML]="ProcessEquipmentSustainabilityHelp.describeWaterInputDischargeQs">
    </p>
</ng-container>
<textarea id="describeWaterInputDischarge" name="describeWaterInputDischarge" class="form-control"
    [(ngModel)]="describeWaterInputDischarge" (input)="saveChanges()"
    (focus)="focusField('describeWaterInputDischarge')" rows="3"></textarea>
<hr class="my-1">


<!--describeRegulations-->
<label>
    Describe any environmental regulations or considerations impacting this process
</label>
<ng-container *ngIf="inPortfolio">
    <p class="fw-light small" [innerHTML]="ProcessEquipmentSustainabilityHelp.describeRegulations">
    </p>
    <p class="fw-light small" [innerHTML]="ProcessEquipmentSustainabilityHelp.describeRegulationsQs">
    </p>
</ng-container>
<textarea id="describeRegulations" name="describeRegulations" class="form-control" [(ngModel)]="describeRegulations"
    (input)="saveChanges()" (focus)="focusField('describeRegulations')" rows="3"></textarea>