<div class="card portfolio">
    <div class="card-body">
        <div class="card-title secondary d-flex justify-content-between">
            <div>
                <fa-icon class="pe-2" [icon]="faBuilding"></fa-icon>
                {{company.generalInformation.name}}
            </div>
            <div class="d-flex">
                <button class="btn btn-secondary btn-sm me-1" (click)="openCreateCopyModal()">
                    <fa-icon [icon]="faCopy"></fa-icon>
                    <span class="d-none">
                        Create Copy of
                        {{company.generalInformation.name}}
                    </span>
                </button>
                <button class="btn btn-danger btn-sm" (click)="openDeleteCompanyModal()">
                    <fa-icon [icon]="faTrash"></fa-icon>
                    <span class="d-none">
                        Delete
                        {{company.generalInformation.name}}
                    </span>
                </button>
            </div>
        </div>
        <app-company-list-item [company]="company" [inCompanyDashboard]="true"></app-company-list-item>
    </div>
</div>