<div [ngClass]="{'window-overlay': displayModal}"></div>
<div class="popup" [ngClass]="{'open': displayModal }">
  <div class="popup-header">KPMs Typically Associated With
    <span class="bold" [innerHTML]="keyPerformanceIndicator.htmlLabel"></span>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="popup-body">
    @if (keyPerformanceMetricOptions.length > 0) {
      <table class="table table-bordered table-hover table-sm">
        <tbody>
          @for (performanceMetric of keyPerformanceMetricOptions; track performanceMetric) {
            <tr class="clickable" (click)="toggleMetric(performanceMetric)"
              >
              <td class="add-td text-center">
                <a class="click-link">
                  @if (addMetricValues.includes(performanceMetric.value)) {
                    <fa-icon [icon]="faCheck"></fa-icon>
                  } @else {
                    <fa-icon [icon]="faPlus"></fa-icon>
                  }
                </a>
              </td>
              <td>
                <span [innerHTML]="performanceMetric.htmlLabel"></span>
              </td>
            </tr>
          }
          @for (performanceMetric of usedPerformanceMetrics; track performanceMetric) {
            <tr>
              <td class="darkgrey text-center">
                <fa-icon [icon]="faLinkSlash"></fa-icon>
              </td>
              <td class="darkgrey">
                <span [innerHTML]="performanceMetric.htmlLabel"></span>
              </td>
            </tr>
          }
        </tbody>
      </table>
      @if (usedPerformanceMetrics.length > 0) {
        <p class="fw-light small mb-0">
          <fa-icon [icon]="faLinkSlash"></fa-icon> Indicates metric is in use by another KPI and cannot be
          duplicated here.
        </p>
      }
    } @else {
      <div class="alert alert-info">
        All metrics in our system that are associated with <span class="bold"
      [innerHTML]="keyPerformanceIndicator.htmlLabel"></span> are being tracked.
    </div>
  }
  <hr>
  </div>
  <div class="popup-footer d-flex justify-content-end">
    <button class="btn btn-secondary btn-sm me-2" (click)="closeModal()">Cancel</button>
    <button class="btn btn-sm btn-success" (click)="addMetrics()" [disabled]="addMetricValues.length == 0"><fa-icon
    [icon]="faPlus"></fa-icon> Add {{addMetricValues.length}}
  Metrics</button>
</div>
</div>